# Polars Basics

In [1]:
!pip install polars

Collecting polars
  Downloading polars-0.18.8-cp38-abi3-win_amd64.whl (19.9 MB)
     ---------------------------------------- 19.9/19.9 MB 7.9 MB/s eta 0:00:00
Installing collected packages: polars
Successfully installed polars-0.18.8

In [3]:
import polars as pl

In [4]:
insurance = pl.read_csv(r'C:\Users\alexf\OneDrive\Documents\Tutorials\Pandas Folder\Polars\health_insurance.csv')
insurance

shape: (1_338, 7)
┌─────┬────────┬────────┬──────────┬────────┬───────────┬─────────────┐
│ age ┆ sex    ┆ bmi    ┆ children ┆ smoker ┆ region    ┆ charges     │
│ --- ┆ ---    ┆ ---    ┆ ---      ┆ ---    ┆ ---       ┆ ---         │
│ i64 ┆ str    ┆ f64    ┆ i64      ┆ str    ┆ str       ┆ f64         │
╞═════╪════════╪════════╪══════════╪════════╪═══════════╪═════════════╡
│ 19  ┆ female ┆ 27.9   ┆ 0        ┆ yes    ┆ southwest ┆ 16884.924   │
│ 18  ┆ male   ┆ 33.77  ┆ 1        ┆ no     ┆ southeast ┆ 1725.5523   │
│ 28  ┆ male   ┆ 33.0   ┆ 3        ┆ no     ┆ southeast ┆ 4449.462    │
│ 33  ┆ male   ┆ 22.705 ┆ 0        ┆ no     ┆ northwest ┆ 21984.47061 │
│ …   ┆ …      ┆ …      ┆ …        ┆ …      ┆ …         ┆ …           │
│ 18  ┆ female ┆ 31.92  ┆ 0        ┆ no     ┆ northeast ┆ 2205.9808   │
│ 18  ┆ female ┆ 36.85  ┆ 0        ┆ no     ┆ southeast ┆ 1629.8335   │
│ 21  ┆ female ┆ 25.8   ┆ 0        ┆ no     ┆ southwest ┆ 2007.945    │
│ 61  ┆ female ┆ 29.07  ┆ 0        ┆ yes    ┆ northwest ┆ 29141.3603  │
└─────┴────────┴────────┴──────────┴────────┴───────────┴─────────────┘

In [9]:
insurance.select(pl.col('*'))

shape: (1_338, 7)
┌─────┬────────┬────────┬──────────┬────────┬───────────┬─────────────┐
│ age ┆ sex    ┆ bmi    ┆ children ┆ smoker ┆ region    ┆ charges     │
│ --- ┆ ---    ┆ ---    ┆ ---      ┆ ---    ┆ ---       ┆ ---         │
│ i64 ┆ str    ┆ f64    ┆ i64      ┆ str    ┆ str       ┆ f64         │
╞═════╪════════╪════════╪══════════╪════════╪═══════════╪═════════════╡
│ 19  ┆ female ┆ 27.9   ┆ 0        ┆ yes    ┆ southwest ┆ 16884.924   │
│ 18  ┆ male   ┆ 33.77  ┆ 1        ┆ no     ┆ southeast ┆ 1725.5523   │
│ 28  ┆ male   ┆ 33.0   ┆ 3        ┆ no     ┆ southeast ┆ 4449.462    │
│ 33  ┆ male   ┆ 22.705 ┆ 0        ┆ no     ┆ northwest ┆ 21984.47061 │
│ …   ┆ …      ┆ …      ┆ …        ┆ …      ┆ …         ┆ …           │
│ 18  ┆ female ┆ 31.92  ┆ 0        ┆ no     ┆ northeast ┆ 2205.9808   │
│ 18  ┆ female ┆ 36.85  ┆ 0        ┆ no     ┆ southeast ┆ 1629.8335   │
│ 21  ┆ female ┆ 25.8   ┆ 0        ┆ no     ┆ southwest ┆ 2007.945    │
│ 61  ┆ female ┆ 29.07  ┆ 0        ┆ yes    ┆ northwest ┆ 29141.3603  │
└─────┴────────┴────────┴──────────┴────────┴───────────┴─────────────┘

In [12]:
insurance_month = insurance.with_columns((pl.col('charges')/12).alias('charges_per_month'))

# insurance['charges_per_month'] = insurance['charges'] / 12

In [19]:
insurance_month.filter((pl.col('age') >=  30) & (pl.col('sex') == 'male'))

shape: (460, 8)
┌─────┬──────┬────────┬──────────┬────────┬───────────┬─────────────┬───────────────────┐
│ age ┆ sex  ┆ bmi    ┆ children ┆ smoker ┆ region    ┆ charges     ┆ charges_per_month │
│ --- ┆ ---  ┆ ---    ┆ ---      ┆ ---    ┆ ---       ┆ ---         ┆ ---               │
│ i64 ┆ str  ┆ f64    ┆ i64      ┆ str    ┆ str       ┆ f64         ┆ f64               │
╞═════╪══════╪════════╪══════════╪════════╪═══════════╪═════════════╪═══════════════════╡
│ 33  ┆ male ┆ 22.705 ┆ 0        ┆ no     ┆ northwest ┆ 21984.47061 ┆ 1832.039217       │
│ 32  ┆ male ┆ 28.88  ┆ 0        ┆ no     ┆ northwest ┆ 3866.8552   ┆ 322.237933        │
│ 37  ┆ male ┆ 29.83  ┆ 2        ┆ no     ┆ northeast ┆ 6406.4107   ┆ 533.867558        │
│ 56  ┆ male ┆ 40.3   ┆ 0        ┆ no     ┆ southwest ┆ 10602.385   ┆ 883.532083        │
│ …   ┆ …    ┆ …      ┆ …        ┆ …      ┆ …         ┆ …           ┆ …                 │
│ 61  ┆ male ┆ 33.535 ┆ 0        ┆ no     ┆ northeast ┆ 13143.33665 ┆ 1095.278054       │
│ 51  ┆ male ┆ 30.03  ┆ 1        ┆ no     ┆ southeast ┆ 9377.9047   ┆ 781.492058        │
│ 52  ┆ male ┆ 38.6   ┆ 2        ┆ no     ┆ southwest ┆ 10325.206   ┆ 860.433833        │
│ 50  ┆ male ┆ 30.97  ┆ 3        ┆ no     ┆ northwest ┆ 10600.5483  ┆ 883.379025        │
└─────┴──────┴────────┴──────────┴────────┴───────────┴─────────────┴───────────────────┘

In [22]:
insurance_month.groupby('sex').count()

shape: (2, 2)
┌────────┬───────┐
│ sex    ┆ count │
│ ---    ┆ ---   │
│ str    ┆ u32   │
╞════════╪═══════╡
│ male   ┆ 676   │
│ female ┆ 662   │
└────────┴───────┘

In [24]:
data1 = {
    'employee_id': [1, 2, 3, 4, 5, 6, 7, 8],
    'name': ['Michael Scott', 'Jim Halpert', 'Pam Beesly', 'Dwight Schrute', 'Angela Martin', 'Kevin Malone', 'Oscar Martinez', 'Stanley Hudson'],
    'job_title': ['Regional Manager', 'Sales Representative', 'Receptionist', 'Assistant to the Regional Manager', 'Head of Accounting', 'Accountant', 'Accountant', 'Sales Representative'],
    'salary': [100000, 60000, 55000, 65000, 60000, 55000, 55000, 60000]
}

df1 = pl.DataFrame(data1)

data2 = {
    'employee_id': [1, 2, 3, 5, 6, 7, 8, 9],
    'name': ['Michael Scott', 'Jim Halpert', 'Pam Beesly', 'Angela Martin', 'Kevin Malone', 'Oscar Martinez', 'Stanley Hudson', 'Phyllis Vance'],
    'department': ['Management', 'Sales', 'Reception', 'Accounting', 'Accounting', 'Accounting', 'Sales', 'Sales']
}

df2 = pl.DataFrame(data2)

df2

shape: (8, 3)
┌─────────────┬────────────────┬────────────┐
│ employee_id ┆ name           ┆ department │
│ ---         ┆ ---            ┆ ---        │
│ i64         ┆ str            ┆ str        │
╞═════════════╪════════════════╪════════════╡
│ 1           ┆ Michael Scott  ┆ Management │
│ 2           ┆ Jim Halpert    ┆ Sales      │
│ 3           ┆ Pam Beesly     ┆ Reception  │
│ 5           ┆ Angela Martin  ┆ Accounting │
│ 6           ┆ Kevin Malone   ┆ Accounting │
│ 7           ┆ Oscar Martinez ┆ Accounting │
│ 8           ┆ Stanley Hudson ┆ Sales      │
│ 9           ┆ Phyllis Vance  ┆ Sales      │
└─────────────┴────────────────┴────────────┘

In [25]:
df1

shape: (8, 4)
┌─────────────┬────────────────┬───────────────────────────────────┬────────┐
│ employee_id ┆ name           ┆ job_title                         ┆ salary │
│ ---         ┆ ---            ┆ ---                               ┆ ---    │
│ i64         ┆ str            ┆ str                               ┆ i64    │
╞═════════════╪════════════════╪═══════════════════════════════════╪════════╡
│ 1           ┆ Michael Scott  ┆ Regional Manager                  ┆ 100000 │
│ 2           ┆ Jim Halpert    ┆ Sales Representative              ┆ 60000  │
│ 3           ┆ Pam Beesly     ┆ Receptionist                      ┆ 55000  │
│ 4           ┆ Dwight Schrute ┆ Assistant to the Regional Manage… ┆ 65000  │
│ 5           ┆ Angela Martin  ┆ Head of Accounting                ┆ 60000  │
│ 6           ┆ Kevin Malone   ┆ Accountant                        ┆ 55000  │
│ 7           ┆ Oscar Martinez ┆ Accountant                        ┆ 55000  │
│ 8           ┆ Stanley Hudson ┆ Sales Representative              ┆ 60000  │
└─────────────┴────────────────┴───────────────────────────────────┴────────┘

In [39]:
df1.join(df2, on = 'employee_id', how = 'cross')

shape: (64, 7)
┌─────────────┬─────────┬─────────────────┬────────┬─────────────────┬────────────────┬────────────┐
│ employee_id ┆ name    ┆ job_title       ┆ salary ┆ employee_id_rig ┆ name_right     ┆ department │
│ ---         ┆ ---     ┆ ---             ┆ ---    ┆ ht              ┆ ---            ┆ ---        │
│ i64         ┆ str     ┆ str             ┆ i64    ┆ ---             ┆ str            ┆ str        │
│             ┆         ┆                 ┆        ┆ i64             ┆                ┆            │
╞═════════════╪═════════╪═════════════════╪════════╪═════════════════╪════════════════╪════════════╡
│ 1           ┆ Michael ┆ Regional        ┆ 100000 ┆ 1               ┆ Michael Scott  ┆ Management │
│             ┆ Scott   ┆ Manager         ┆        ┆                 ┆                ┆            │
│ 1           ┆ Michael ┆ Regional        ┆ 100000 ┆ 2               ┆ Jim Halpert    ┆ Sales      │
│             ┆ Scott   ┆ Manager         ┆        ┆                 ┆                ┆            │
│ 1           ┆ Michael ┆ Regional        ┆ 100000 ┆ 3               ┆ Pam Beesly     ┆ Reception  │
│             ┆ Scott   ┆ Manager         ┆        ┆                 ┆                ┆            │
│ 1           ┆ Michael ┆ Regional        ┆ 100000 ┆ 5               ┆ Angela Martin  ┆ Accounting │
│             ┆ Scott   ┆ Manager         ┆        ┆                 ┆                ┆            │
│ …           ┆ …       ┆ …               ┆ …      ┆ …               ┆ …              ┆ …          │
│ 8           ┆ Stanley ┆ Sales           ┆ 60000  ┆ 6               ┆ Kevin Malone   ┆ Accounting │
│             ┆ Hudson  ┆ Representative  ┆        ┆                 ┆                ┆            │
│ 8           ┆ Stanley ┆ Sales           ┆ 60000  ┆ 7               ┆ Oscar Martinez ┆ Accounting │
│             ┆ Hudson  ┆ Representative  ┆        ┆                 ┆                ┆            │
│ 8           ┆ Stanley ┆ Sales           ┆ 60000  ┆ 8               ┆ Stanley Hudson ┆ Sales      │
│             ┆ Hudson  ┆ Representative  ┆        ┆                 ┆                ┆            │
│ 8           ┆ Stanley ┆ Sales           ┆ 60000  ┆ 9               ┆ Phyllis Vance  ┆ Sales      │
│             ┆ Hudson  ┆ Representative  ┆        ┆                 ┆                ┆            │
└─────────────┴─────────┴─────────────────┴────────┴─────────────────┴────────────────┴────────────┘