# Exporting Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\alexf\OneDrive\Documents\Tutorials\Pandas Folder\Importing Files Lesson\parks_and_recreation.csv')
df

    employee_id    first_name     last_name   age  gender  birth_date
0             1        Leslie         Knope  44.0  Female   9/25/1979
1             3           Tom     Haverford  36.0    Male    3/4/1987
2             4         April       Ludgate  29.0  Female   3/27/1994
3             6         Donna        Meagle  46.0  Female   7/30/1977
4             7           Ann       Perkins  35.0  Female   12/1/1988
5             8         Chris       Traeger  43.0    Male  11/11/1980
6             9           Ben         Wyatt  38.0    Male   7/26/1985
7            10          Andy         Dwyer  34.0    Male   3/25/1989
8            11          Mark  Brendanawicz  40.0    Male   6/14/1983
9            12         Craig  Middlebrooks  37.0    Male   7/27/1986
10           13  Jean-Ralphio    Saperstein   NaN     NaN         NaN

In [3]:
df.to_csv(r'C:\Users\alexf\OneDrive\Documents\Tutorials\Pandas Folder\Importing Files Lesson\Exports\parks_export.csv')

In [5]:
df.to_csv(r'C:\Users\alexf\OneDrive\Documents\Tutorials\Pandas Folder\Importing Files Lesson\Exports\parks_export.csv'
         , index = False, columns = ['first_name','last_name'])

In [7]:
df.to_excel(r'C:\Users\alexf\OneDrive\Documents\Tutorials\Pandas Folder\Importing Files Lesson\Exports\parks_export.xlsx'
        , index = False, sheet_name = 'Employees')

In [ ]:
!pip install openpyxl xlwt

In [8]:
df.to_json(r'C:\Users\alexf\OneDrive\Documents\Tutorials\Pandas Folder\Importing Files Lesson\Exports\parks_export.json')