# Transform with Group By

In [1]:
import pandas as pd

In [12]:
df = pd.read_csv(r'C:\Users\alexf\OneDrive\Documents\Tutorials\Pandas Folder\Group By Lesson\banking.csv'
                , encoding = 'ISO-8859-1')

pd.set_option('display.max.rows',46000)

In [13]:
df_banking = df[:500]

In [14]:
df_banking['average_balance_per_job'] = df_banking.groupby('job')['outstanding_balance'].transform('mean')

C:\Users\alexf\AppData\Local\Temp\ipykernel_587152\3318464167.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_banking['average_balance_per_job'] = df_banking.groupby('job')['outstanding_balance'].transform('mean')

In [15]:
df_banking

,age,job,marital,education,default,outstanding_balance,housing_loan,personal_loan,average_balance_per_job
0,58,management,married,tertiary,no,2143,yes,no,1082.815789
1,44,technician,single,secondary,no,29,yes,no,1121.407407
2,33,entrepreneur,married,secondary,no,2,yes,yes,299.714286
3,47,blue-collar,married,unknown,no,1506,yes,no,423.521429
4,33,unknown,single,unknown,no,1,no,no,18.666667
5,35,management,married,tertiary,no,231,yes,no,1082.815789
6,28,management,single,tertiary,no,447,yes,yes,1082.815789
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,299.714286
8,58,retired,married,primary,no,121,yes,no,330.250000
9,43,technician,single,secondary,no,593,yes,no,1121.407407
10,41,admin.,divorced,secondary,no,270,yes,no,235.300000
11,29,admin.,single,secondary,no,390,yes,no,235.300000
12,53,technician,married,secondary,no,6,yes,no,1121.407407
13,58,technician,married,unknown,no,71,yes,no,1121.407407
14,57,services,married,secondary,no,162,yes,no,553.016667
15,51,retired,married,primary,no,229,yes,no,330.250000
16,45,admin.,single,unknown,no,13,yes,no,235.300000
17,57,blue-collar,married,primary,no,52,yes,no,423.521429
18,60,retired,married,primary,no,60,yes,no,330.250000
19,33,services,married,secondary,no,0,yes,no,553.016667
20,28,blue-collar,married,secondary,no,723,yes,yes,423.521429
21,56,management,married,tertiary,no,779,yes,no,1082.815789
22,32,blue-collar,single,primary,no,23,yes,yes,423.521429
23,25,services,married,secondary,no,50,yes,no,553.016667
24,40,retired,married,primary,no,0,yes,yes,330.250000
25,44,admin.,married,secondary,no,-372,yes,no,235.300000
26,39,management,single,tertiary,no,255,yes,no,1082.815789
27,52,entrepreneur,married,secondary,no,113,yes,yes,299.714286
28,46,management,single,secondary,no,-246,yes,no,1082.815789
29,36,technician,single,secondary,no,265,yes,yes,1121.407407
30,57,technician,married,secondary,no,839,no,yes,1121.407407
31,49,management,married,tertiary,no,378,yes,no,1082.815789
32,60,admin.,married,secondary,no,39,yes,yes,235.300000
33,59,blue-collar,married,secondary,no,0,yes,no,423.521429
34,51,management,married,tertiary,no,10635,yes,no,1082.815789
35,57,technician,divorced,secondary,no,63,yes,no,1121.407407
36,25,blue-collar,married,secondary,no,-7,yes,no,423.521429
37,53,technician,married,secondary,no,-3,no,no,1121.407407
38,36,admin.,divorced,secondary,no,506,yes,no,235.300000
39,37,admin.,single,secondary,no,0,yes,no,235.300000
40,44,services,divorced,secondary,no,2586,yes,no,553.016667
41,50,management,married,secondary,no,49,yes,no,1082.815789
42,60,blue-collar,married,unknown,no,104,yes,no,423.521429
43,54,retired,married,secondary,no,529,yes,no,330.250000
44,58,retired,married,unknown,no,96,yes,no,330.250000
45,36,admin.,single,primary,no,-171,yes,no,235.300000
46,58,self-employed,married,tertiary,no,-364,yes,no,60.363636
47,44,technician,married,secondary,no,0,yes,no,1121.407407
48,55,technician,divorced,secondary,no,0,no,no,1121.407407
49,29,management,single,tertiary,no,0,yes,no,1082.815789
50,54,blue-collar,married,secondary,no,1291,yes,no,423.521429
51,48,management,divorced,tertiary,no,-244,yes,no,1082.815789
52,32,management,married,tertiary,no,0,yes,no,1082.815789
53,42,admin.,single,secondary,no,-76,yes,no,235.300000
54,24,technician,single,secondary,no,-103,yes,yes,1121.407407
55,38,entrepreneur,single,tertiary,no,243,no,yes,299.714286
56,38,management,single,tertiary,no,424,yes,no,1082.815789
57,47,blue-collar,married,unknown,no,306,yes,no,423.521429
58,40,blue-collar,single,unknown,no,24,yes,no,423.521429
59,46,services,married,primary,no,179,yes,no,553.016667
60,32,admin.,married,tertiary,no,0,yes,no,235.300000
61,53,technician,divorced,secondary,no,989,yes,no,1121.407407
62,57,blue-collar,married,primary,no,249,yes,no,423.521429
63,33,services,married,secondary,no,790,yes,no,553.016667
64,49,blue-collar,married,unknown,no,154,yes,no,423.521429
65,51,management,married,tertiary,no,6530,yes,no,1082.815789
66,60,retired,married,tertiary,no,100,no,no,330.250000
67,59,management,divorced,tertiary,no,59,yes,no,1082.815789
68,55,technician,married,secondary,no,1205,yes,no,1121.407407
69,35,blue-collar,single,secondary,no,12223,yes,yes,423.521429
70,57,blue-collar,married,secondary,no,5935,yes,yes,423.521429
71,31,services,married,secondary,no,25,yes,yes,553.016667
72,54,management,married,secondary,no,282,yes,yes,1082.815789
73,55,blue-collar,married,primary,no,23,yes,no,423.521429
74,43,technician,married,secondary,no,1937,yes,no,1121.407407
75,53,technician,married,secondary,no,384,yes,no,1121.407407
76,44,blue-collar,married,secondary,no,582,no,yes,423.521429
77,55,services,divorced,secondary,no,91,no,no,553.016667
78,49,services,divorced,secondary,no,0,yes,yes,553.016667
79,55,services,divorced,secondary,yes,1,yes,no,553.016667
80,45,admin.,single,secondary,no,206,yes,no,235.300000
81,47,services,divorced,secondary,no,164,no,no,553.016667
82,42,technician,single,secondary,no,690,yes,no,1121.407407
83,59,admin.,married,secondary,no,2343,yes,no,235.300000
84,46,self-employed,married,tertiary,no,137,yes,yes,60.363636
85,51,blue-collar,married,primary,no,173,yes,no,423.521429
86,56,admin.,married,secondary,no,45,no,no,235.300000
87,41,technician,married,secondary,no,1270,yes,no,1121.407407
88,46,management,divorced,secondary,no,16,yes,yes,1082.815789
89,57,retired,married,secondary,no,486,yes,no,330.250000
90,42,management,single,secondary,no,50,no,no,1082.815789
91,30,technician,married,secondary,no,152,yes,yes,1121.407407
92,60,admin.,married,secondary,no,290,yes,no,235.300000
93,60,blue-collar,married,unknown,no,54,yes,no,423.521429
94,57,entrepreneur,divorced,secondary,no,-37,no,no,299.714286
95,36,management,married,tertiary,no,101,yes,yes,1082.815789
96,55,blue-collar,married,secondary,no,383,no,no,423.521429
97,60,retired,married,tertiary,no,81,yes,no,330.250000
98,39,technician,married,secondary,no,0,yes,no,1121.407407
99,46,management,married,tertiary,no,229,yes,no,1082.815789
100,44,blue-collar,married,secondary,no,-674,yes,no,423.521429
101,53,blue-collar,married,primary,no,90,no,no,423.521429
102,52,blue-collar,married,primary,no,128,yes,no,423.521429
103,59,blue-collar,married,primary,no,179,yes,no,423.521429
104,27,technician,single,tertiary,no,0,yes,no,1121.407407
105,44,blue-collar,married,secondary,no,54,yes,no,423.521429
106,47,technician,married,tertiary,no,151,yes,no,1121.407407
107,34,admin.,married,secondary,no,61,no,yes,235.300000
108,59,retired,single,secondary,no,30,yes,no,330.250000
109,45,management,married,tertiary,no,523,yes,no,1082.815789
110,29,services,divorced,secondary,no,31,yes,no,553.016667
111,46,technician,divorced,secondary,no,79,no,no,1121.407407
112,56,self-employed,married,primary,no,-34,yes,yes,60.363636
113,36,blue-collar,married,primary,no,448,yes,no,423.521429
114,59,retired,divorced,primary,no,81,yes,no,330.250000
115,44,blue-collar,married,secondary,no,144,yes,no,423.521429
116,41,admin.,married,secondary,no,351,yes,no,235.300000
117,33,management,single,tertiary,no,-67,yes,no,1082.815789
118,59,management,divorced,tertiary,no,262,no,no,1082.815789
119,57,technician,married,primary,no,0,no,no,1121.407407
120,56,technician,divorced,unknown,no,56,yes,no,1121.407407
121,51,blue-collar,married,secondary,no,26,yes,no,423.521429
122,34,admin.,married,unknown,no,3,yes,no,235.300000
123,43,services,married,secondary,no,41,yes,yes,553.016667
124,52,technician,married,tertiary,no,7,no,yes,1121.407407
125,33,technician,single,secondary,no,105,yes,no,1121.407407
126,29,admin.,single,secondary,no,818,yes,yes,235.300000
127,34,services,married,secondary,no,-16,yes,yes,553.016667
128,31,blue-collar,married,secondary,no,0,yes,no,423.521429
129,55,services,married,secondary,no,2476,yes,no,553.016667
130,55,management,married,unknown,no,1185,no,no,1082.815789
131,32,admin.,single,secondary,no,217,yes,no,235.300000
132,38,technician,single,secondary,no,1685,yes,no,1121.407407
133,55,admin.,single,secondary,no,802,yes,yes,235.300000
134,28,unemployed,single,tertiary,no,0,yes,no,637.100000
135,23,blue-collar,married,secondary,no,94,yes,no,423.521429
136,32,technician,single,secondary,no,0,yes,no,1121.407407
137,43,services,single,unknown,no,0,no,no,553.016667
138,32,blue-collar,married,secondary,no,517,yes,no,423.521429
139,46,blue-collar,married,secondary,no,265,yes,no,423.521429
140,53,housemaid,divorced,primary,no,947,yes,no,446.600000
141,34,self-employed,single,secondary,no,3,yes,no,60.363636
142,57,unemployed,married,tertiary,no,42,no,no,637.100000
143,37,blue-collar,married,secondary,no,37,yes,no,423.521429
144,59,blue-collar,married,secondary,no,57,yes,no,423.521429
145,33,services,married,secondary,no,22,yes,no,553.016667
146,56,blue-collar,divorced,primary,no,8,yes,no,423.521429
147,48,unemployed,married,secondary,no,293,yes,no,637.100000
148,43,services,married,primary,no,3,yes,no,553.016667
149,54,blue-collar,married,primary,no,348,yes,no,423.521429
150,51,blue-collar,married,unknown,no,-19,yes,no,423.521429
151,26,student,single,secondary,no,0,yes,no,164.166667
152,40,management,married,tertiary,no,-4,yes,no,1082.815789
153,39,management,married,secondary,no,18,yes,no,1082.815789
154,50,technician,married,primary,no,139,no,no,1121.407407
155,41,services,married,secondary,no,0,yes,no,553.016667
156,51,blue-collar,married,unknown,no,1883,yes,no,423.521429
157,60,retired,divorced,secondary,no,216,yes,no,330.250000
158,52,blue-collar,married,secondary,no,782,yes,no,423.521429
159,48,blue-collar,married,secondary,no,904,yes,no,423.521429
160,48,services,married,unknown,no,1705,yes,no,553.016667
161,39,technician,single,tertiary,no,47,yes,no,1121.407407
162,47,services,single,secondary,no,176,yes,no,553.016667
163,40,blue-collar,married,secondary,no,1225,yes,no,423.521429
164,45,technician,married,secondary,no,86,yes,no,1121.407407
165,26,admin.,single,secondary,no,82,yes,no,235.300000
166,52,management,married,tertiary,no,271,yes,no,1082.815789
167,54,technician,married,secondary,no,1378,yes,no,1121.407407
168,54,admin.,married,tertiary,no,184,no,no,235.300000
169,50,blue-collar,married,primary,no,0,no,no,423.521429
170,35,blue-collar,married,secondary,no,0,yes,no,423.521429
171,44,services,married,secondary,no,1357,yes,yes,553.016667
172,53,entrepreneur,married,unknown,no,19,yes,no,299.714286
173,35,retired,single,primary,no,434,no,no,330.250000
174,60,admin.,divorced,secondary,no,92,yes,no,235.300000
175,53,admin.,divorced,secondary,no,1151,yes,no,235.300000
176,48,unemployed,married,secondary,no,41,yes,no,637.100000
177,34,technician,married,secondary,no,51,yes,no,1121.407407
178,54,services,married,secondary,no,214,yes,no,553.016667
179,51,management,married,secondary,no,1161,yes,no,1082.815789
180,31,services,married,tertiary,no,37,yes,no,553.016667
181,35,technician,divorced,secondary,no,787,yes,no,1121.407407
182,35,services,married,secondary,no,59,yes,no,553.016667
183,38,technician,married,secondary,no,253,yes,no,1121.407407
184,36,admin.,married,tertiary,no,211,yes,no,235.300000
185,58,retired,married,primary,no,235,yes,no,330.250000
186,40,services,divorced,unknown,no,4384,yes,no,553.016667
187,54,management,married,secondary,no,4080,no,no,1082.815789
188,34,blue-collar,single,secondary,no,53,yes,yes,423.521429
189,31,management,single,tertiary,no,0,yes,no,1082.815789
190,51,retired,married,secondary,no,2127,yes,no,330.250000
191,33,management,married,tertiary,no,377,yes,no,1082.815789
192,55,management,married,tertiary,no,73,yes,no,1082.815789
193,42,admin.,married,secondary,no,445,yes,no,235.300000
194,34,blue-collar,married,secondary,no,243,yes,no,423.521429
195,33,blue-collar,single,secondary,no,307,yes,no,423.521429
196,38,services,married,secondary,no,155,yes,no,553.016667
197,50,technician,divorced,tertiary,no,173,no,yes,1121.407407
198,43,management,married,tertiary,no,400,yes,no,1082.815789
199,61,blue-collar,divorced,primary,no,1428,yes,no,423.521429
200,47,admin.,married,secondary,no,219,yes,no,235.300000
201,48,self-employed,married,tertiary,no,7,yes,no,60.363636
202,44,blue-collar,married,secondary,no,575,yes,no,423.521429
203,35,student,single,unknown,no,298,yes,no,164.166667
204,35,services,married,secondary,no,0,yes,no,553.016667
205,50,services,married,secondary,no,5699,yes,no,553.016667
206,41,management,married,tertiary,no,176,yes,yes,1082.815789
207,41,management,married,tertiary,no,517,yes,no,1082.815789
208,39,services,single,unknown,no,257,yes,no,553.016667
209,42,retired,married,secondary,no,56,yes,no,330.250000
210,38,blue-collar,married,secondary,no,-390,yes,no,423.521429
211,53,retired,married,secondary,no,330,yes,no,330.250000
212,59,housemaid,divorced,primary,no,195,no,no,446.600000
213,36,services,married,secondary,no,301,yes,no,553.016667
214,54,blue-collar,married,primary,no,-41,yes,no,423.521429
215,40,technician,married,tertiary,no,483,yes,no,1121.407407
216,47,unknown,married,unknown,no,28,no,no,18.666667
217,53,unemployed,married,unknown,no,13,no,no,637.100000
218,46,housemaid,married,primary,no,965,no,no,446.600000
219,39,management,married,tertiary,no,378,yes,yes,1082.815789
220,40,unemployed,married,secondary,no,219,yes,no,637.100000
221,28,blue-collar,married,primary,no,324,yes,no,423.521429
222,35,entrepreneur,divorced,secondary,no,-69,yes,no,299.714286
223,55,retired,married,secondary,no,0,no,yes,330.250000
224,43,technician,divorced,unknown,no,205,yes,no,1121.407407
225,48,blue-collar,married,primary,no,278,yes,no,423.521429
226,58,management,married,unknown,no,1065,yes,no,1082.815789
227,33,management,single,tertiary,no,34,yes,no,1082.815789
228,36,blue-collar,married,unknown,no,1033,no,no,423.521429
229,53,services,divorced,secondary,no,1467,yes,no,553.016667
230,47,blue-collar,married,primary,no,-12,yes,no,423.521429
231,31,services,married,secondary,no,388,yes,no,553.016667
232,57,entrepreneur,married,secondary,no,294,yes,no,299.714286
233,53,blue-collar,married,unknown,no,1827,no,no,423.521429
234,55,blue-collar,married,primary,no,627,yes,no,423.521429
235,45,blue-collar,married,primary,no,25,yes,no,423.521429
236,53,admin.,divorced,secondary,no,315,yes,no,235.300000
237,37,blue-collar,married,primary,no,0,yes,no,423.521429
238,44,admin.,divorced,secondary,no,66,yes,no,235.300000
239,49,blue-collar,divorced,primary,no,-9,yes,yes,423.521429
240,46,technician,married,secondary,no,349,yes,yes,1121.407407
241,43,entrepreneur,married,unknown,no,100,yes,no,299.714286
242,38,admin.,married,secondary,no,0,no,no,235.300000
243,43,technician,married,secondary,no,434,yes,no,1121.407407
244,49,management,married,tertiary,no,3237,yes,no,1082.815789
245,42,management,married,unknown,no,275,no,no,1082.815789
246,22,blue-collar,single,secondary,no,0,yes,no,423.521429
247,40,management,married,tertiary,no,207,yes,no,1082.815789
248,39,blue-collar,married,secondary,no,483,yes,no,423.521429
249,51,services,married,secondary,no,2248,yes,no,553.016667
250,49,admin.,married,secondary,no,428,yes,no,235.300000
251,53,blue-collar,married,secondary,no,0,yes,yes,423.521429
252,34,services,single,secondary,no,0,yes,no,553.016667
253,33,technician,divorced,secondary,no,140,yes,no,1121.407407
254,50,management,single,tertiary,no,297,yes,no,1082.815789
255,39,blue-collar,married,primary,no,279,yes,no,423.521429
256,59,entrepreneur,divorced,secondary,no,901,yes,no,299.714286
257,30,technician,single,secondary,no,2573,yes,no,1121.407407
258,36,services,married,secondary,no,143,yes,yes,553.016667
259,40,blue-collar,married,secondary,no,475,yes,no,423.521429
260,53,blue-collar,married,secondary,no,70,yes,no,423.521429
261,34,management,single,tertiary,no,318,yes,no,1082.815789
262,37,technician,married,secondary,no,275,yes,no,1121.407407
263,42,management,divorced,tertiary,no,742,yes,no,1082.815789
264,41,entrepreneur,married,primary,no,236,yes,no,299.714286
265,30,student,single,tertiary,no,25,yes,no,164.166667
266,37,management,single,tertiary,no,600,yes,no,1082.815789
267,39,admin.,divorced,secondary,no,-349,yes,no,235.300000
268,41,blue-collar,married,primary,no,183,yes,yes,423.521429
269,40,blue-collar,married,primary,no,0,yes,no,423.521429
270,42,management,single,tertiary,no,0,yes,yes,1082.815789
271,40,blue-collar,divorced,primary,no,0,yes,no,423.521429
272,57,technician,married,secondary,no,1078,yes,no,1121.407407
273,56,entrepreneur,divorced,secondary,no,155,no,no,299.714286
274,37,admin.,married,secondary,no,190,yes,no,235.300000
275,59,retired,married,secondary,no,319,yes,no,330.250000
276,39,services,divorced,secondary,no,-185,yes,no,553.016667
277,49,services,married,secondary,no,47,no,no,553.016667
278,38,services,single,secondary,no,570,yes,no,553.016667
279,36,self-employed,married,tertiary,no,19,no,no,60.363636
280,50,blue-collar,married,primary,no,61,yes,no,423.521429
281,41,admin.,married,secondary,no,-62,yes,yes,235.300000
282,54,technician,married,tertiary,no,258,no,no,1121.407407
283,58,blue-collar,married,primary,no,76,yes,no,423.521429
284,30,blue-collar,single,secondary,no,0,yes,no,423.521429
285,33,admin.,single,secondary,no,352,yes,no,235.300000
286,47,admin.,married,secondary,no,368,yes,no,235.300000
287,50,technician,single,tertiary,no,339,yes,no,1121.407407
288,32,blue-collar,married,secondary,no,1331,yes,no,423.521429
289,40,self-employed,married,secondary,no,672,yes,no,60.363636
290,37,management,married,tertiary,no,58,yes,no,1082.815789
291,54,technician,single,unknown,no,447,yes,no,1121.407407
292,24,student,single,secondary,no,423,yes,no,164.166667
293,54,management,married,tertiary,no,0,no,no,1082.815789
294,34,technician,married,secondary,no,19,yes,no,1121.407407
295,56,technician,divorced,primary,no,13,yes,no,1121.407407
296,31,blue-collar,single,secondary,no,3,yes,no,423.521429
297,24,student,single,secondary,no,82,yes,no,164.166667
298,42,blue-collar,divorced,primary,no,28,yes,no,423.521429
299,57,technician,married,secondary,no,792,yes,no,1121.407407
300,42,blue-collar,married,unknown,no,408,yes,no,423.521429
301,51,admin.,married,secondary,no,531,yes,no,235.300000
302,57,retired,married,secondary,no,211,yes,no,330.250000
303,36,services,single,secondary,no,62,yes,no,553.016667
304,53,services,married,unknown,no,257,yes,no,553.016667
305,50,technician,married,secondary,no,1234,yes,no,1121.407407
306,54,management,married,tertiary,no,313,yes,no,1082.815789
307,55,blue-collar,married,secondary,no,89,yes,no,423.521429
308,44,blue-collar,married,secondary,no,129,yes,yes,423.521429
309,43,management,married,unknown,no,0,yes,no,1082.815789
310,56,admin.,married,secondary,no,353,yes,no,235.300000
311,54,technician,married,unknown,no,851,yes,no,1121.407407
312,55,services,divorced,primary,no,96,yes,yes,553.016667
313,37,services,divorced,secondary,no,398,yes,yes,553.016667
314,33,admin.,single,tertiary,no,193,no,no,235.300000
315,46,admin.,married,secondary,no,-358,yes,no,235.300000
316,36,blue-collar,married,secondary,no,539,yes,yes,423.521429
317,51,technician,single,secondary,no,0,yes,no,1121.407407
318,40,retired,single,primary,no,0,no,no,330.250000
319,42,blue-collar,married,secondary,no,490,yes,no,423.521429
320,51,blue-collar,married,secondary,no,0,yes,no,423.521429
321,49,blue-collar,married,unknown,no,403,yes,no,423.521429
322,48,management,married,secondary,no,161,yes,no,1082.815789
323,32,technician,divorced,tertiary,no,2558,no,no,1121.407407
324,31,admin.,single,secondary,no,98,yes,no,235.300000
325,55,management,single,tertiary,no,115,no,no,1082.815789
326,40,blue-collar,single,secondary,no,436,yes,no,423.521429
327,47,technician,married,tertiary,no,831,yes,no,1121.407407
328,57,technician,married,unknown,no,206,yes,no,1121.407407
329,41,blue-collar,married,secondary,no,290,yes,no,423.521429
330,48,blue-collar,married,secondary,no,1,no,no,423.521429
331,42,blue-collar,married,unknown,no,57,yes,no,423.521429
332,30,blue-collar,single,secondary,no,-457,yes,no,423.521429
333,58,management,single,tertiary,no,1387,yes,no,1082.815789
334,45,management,divorced,tertiary,no,24598,yes,no,1082.815789

In [16]:
df_banking

,age,job,marital,education,default,outstanding_balance,housing_loan,personal_loan,average_balance_per_job
0,58,management,married,tertiary,no,2143,yes,no,1082.815789
1,44,technician,single,secondary,no,29,yes,no,1121.407407
2,33,entrepreneur,married,secondary,no,2,yes,yes,299.714286
3,47,blue-collar,married,unknown,no,1506,yes,no,423.521429
4,33,unknown,single,unknown,no,1,no,no,18.666667
5,35,management,married,tertiary,no,231,yes,no,1082.815789
6,28,management,single,tertiary,no,447,yes,yes,1082.815789
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,299.714286
8,58,retired,married,primary,no,121,yes,no,330.250000
9,43,technician,single,secondary,no,593,yes,no,1121.407407
10,41,admin.,divorced,secondary,no,270,yes,no,235.300000
11,29,admin.,single,secondary,no,390,yes,no,235.300000
12,53,technician,married,secondary,no,6,yes,no,1121.407407
13,58,technician,married,unknown,no,71,yes,no,1121.407407
14,57,services,married,secondary,no,162,yes,no,553.016667
15,51,retired,married,primary,no,229,yes,no,330.250000
16,45,admin.,single,unknown,no,13,yes,no,235.300000
17,57,blue-collar,married,primary,no,52,yes,no,423.521429
18,60,retired,married,primary,no,60,yes,no,330.250000
19,33,services,married,secondary,no,0,yes,no,553.016667
20,28,blue-collar,married,secondary,no,723,yes,yes,423.521429
21,56,management,married,tertiary,no,779,yes,no,1082.815789
22,32,blue-collar,single,primary,no,23,yes,yes,423.521429
23,25,services,married,secondary,no,50,yes,no,553.016667
24,40,retired,married,primary,no,0,yes,yes,330.250000
25,44,admin.,married,secondary,no,-372,yes,no,235.300000
26,39,management,single,tertiary,no,255,yes,no,1082.815789
27,52,entrepreneur,married,secondary,no,113,yes,yes,299.714286
28,46,management,single,secondary,no,-246,yes,no,1082.815789
29,36,technician,single,secondary,no,265,yes,yes,1121.407407
30,57,technician,married,secondary,no,839,no,yes,1121.407407
31,49,management,married,tertiary,no,378,yes,no,1082.815789
32,60,admin.,married,secondary,no,39,yes,yes,235.300000
33,59,blue-collar,married,secondary,no,0,yes,no,423.521429
34,51,management,married,tertiary,no,10635,yes,no,1082.815789
35,57,technician,divorced,secondary,no,63,yes,no,1121.407407
36,25,blue-collar,married,secondary,no,-7,yes,no,423.521429
37,53,technician,married,secondary,no,-3,no,no,1121.407407
38,36,admin.,divorced,secondary,no,506,yes,no,235.300000
39,37,admin.,single,secondary,no,0,yes,no,235.300000
40,44,services,divorced,secondary,no,2586,yes,no,553.016667
41,50,management,married,secondary,no,49,yes,no,1082.815789
42,60,blue-collar,married,unknown,no,104,yes,no,423.521429
43,54,retired,married,secondary,no,529,yes,no,330.250000
44,58,retired,married,unknown,no,96,yes,no,330.250000
45,36,admin.,single,primary,no,-171,yes,no,235.300000
46,58,self-employed,married,tertiary,no,-364,yes,no,60.363636
47,44,technician,married,secondary,no,0,yes,no,1121.407407
48,55,technician,divorced,secondary,no,0,no,no,1121.407407
49,29,management,single,tertiary,no,0,yes,no,1082.815789
50,54,blue-collar,married,secondary,no,1291,yes,no,423.521429
51,48,management,divorced,tertiary,no,-244,yes,no,1082.815789
52,32,management,married,tertiary,no,0,yes,no,1082.815789
53,42,admin.,single,secondary,no,-76,yes,no,235.300000
54,24,technician,single,secondary,no,-103,yes,yes,1121.407407
55,38,entrepreneur,single,tertiary,no,243,no,yes,299.714286
56,38,management,single,tertiary,no,424,yes,no,1082.815789
57,47,blue-collar,married,unknown,no,306,yes,no,423.521429
58,40,blue-collar,single,unknown,no,24,yes,no,423.521429
59,46,services,married,primary,no,179,yes,no,553.016667
60,32,admin.,married,tertiary,no,0,yes,no,235.300000
61,53,technician,divorced,secondary,no,989,yes,no,1121.407407
62,57,blue-collar,married,primary,no,249,yes,no,423.521429
63,33,services,married,secondary,no,790,yes,no,553.016667
64,49,blue-collar,married,unknown,no,154,yes,no,423.521429
65,51,management,married,tertiary,no,6530,yes,no,1082.815789
66,60,retired,married,tertiary,no,100,no,no,330.250000
67,59,management,divorced,tertiary,no,59,yes,no,1082.815789
68,55,technician,married,secondary,no,1205,yes,no,1121.407407
69,35,blue-collar,single,secondary,no,12223,yes,yes,423.521429
70,57,blue-collar,married,secondary,no,5935,yes,yes,423.521429
71,31,services,married,secondary,no,25,yes,yes,553.016667
72,54,management,married,secondary,no,282,yes,yes,1082.815789
73,55,blue-collar,married,primary,no,23,yes,no,423.521429
74,43,technician,married,secondary,no,1937,yes,no,1121.407407
75,53,technician,married,secondary,no,384,yes,no,1121.407407
76,44,blue-collar,married,secondary,no,582,no,yes,423.521429
77,55,services,divorced,secondary,no,91,no,no,553.016667
78,49,services,divorced,secondary,no,0,yes,yes,553.016667
79,55,services,divorced,secondary,yes,1,yes,no,553.016667
80,45,admin.,single,secondary,no,206,yes,no,235.300000
81,47,services,divorced,secondary,no,164,no,no,553.016667
82,42,technician,single,secondary,no,690,yes,no,1121.407407
83,59,admin.,married,secondary,no,2343,yes,no,235.300000
84,46,self-employed,married,tertiary,no,137,yes,yes,60.363636
85,51,blue-collar,married,primary,no,173,yes,no,423.521429
86,56,admin.,married,secondary,no,45,no,no,235.300000
87,41,technician,married,secondary,no,1270,yes,no,1121.407407
88,46,management,divorced,secondary,no,16,yes,yes,1082.815789
89,57,retired,married,secondary,no,486,yes,no,330.250000
90,42,management,single,secondary,no,50,no,no,1082.815789
91,30,technician,married,secondary,no,152,yes,yes,1121.407407
92,60,admin.,married,secondary,no,290,yes,no,235.300000
93,60,blue-collar,married,unknown,no,54,yes,no,423.521429
94,57,entrepreneur,divorced,secondary,no,-37,no,no,299.714286
95,36,management,married,tertiary,no,101,yes,yes,1082.815789
96,55,blue-collar,married,secondary,no,383,no,no,423.521429
97,60,retired,married,tertiary,no,81,yes,no,330.250000
98,39,technician,married,secondary,no,0,yes,no,1121.407407
99,46,management,married,tertiary,no,229,yes,no,1082.815789
100,44,blue-collar,married,secondary,no,-674,yes,no,423.521429
101,53,blue-collar,married,primary,no,90,no,no,423.521429
102,52,blue-collar,married,primary,no,128,yes,no,423.521429
103,59,blue-collar,married,primary,no,179,yes,no,423.521429
104,27,technician,single,tertiary,no,0,yes,no,1121.407407
105,44,blue-collar,married,secondary,no,54,yes,no,423.521429
106,47,technician,married,tertiary,no,151,yes,no,1121.407407
107,34,admin.,married,secondary,no,61,no,yes,235.300000
108,59,retired,single,secondary,no,30,yes,no,330.250000
109,45,management,married,tertiary,no,523,yes,no,1082.815789
110,29,services,divorced,secondary,no,31,yes,no,553.016667
111,46,technician,divorced,secondary,no,79,no,no,1121.407407
112,56,self-employed,married,primary,no,-34,yes,yes,60.363636
113,36,blue-collar,married,primary,no,448,yes,no,423.521429
114,59,retired,divorced,primary,no,81,yes,no,330.250000
115,44,blue-collar,married,secondary,no,144,yes,no,423.521429
116,41,admin.,married,secondary,no,351,yes,no,235.300000
117,33,management,single,tertiary,no,-67,yes,no,1082.815789
118,59,management,divorced,tertiary,no,262,no,no,1082.815789
119,57,technician,married,primary,no,0,no,no,1121.407407
120,56,technician,divorced,unknown,no,56,yes,no,1121.407407
121,51,blue-collar,married,secondary,no,26,yes,no,423.521429
122,34,admin.,married,unknown,no,3,yes,no,235.300000
123,43,services,married,secondary,no,41,yes,yes,553.016667
124,52,technician,married,tertiary,no,7,no,yes,1121.407407
125,33,technician,single,secondary,no,105,yes,no,1121.407407
126,29,admin.,single,secondary,no,818,yes,yes,235.300000
127,34,services,married,secondary,no,-16,yes,yes,553.016667
128,31,blue-collar,married,secondary,no,0,yes,no,423.521429
129,55,services,married,secondary,no,2476,yes,no,553.016667
130,55,management,married,unknown,no,1185,no,no,1082.815789
131,32,admin.,single,secondary,no,217,yes,no,235.300000
132,38,technician,single,secondary,no,1685,yes,no,1121.407407
133,55,admin.,single,secondary,no,802,yes,yes,235.300000
134,28,unemployed,single,tertiary,no,0,yes,no,637.100000
135,23,blue-collar,married,secondary,no,94,yes,no,423.521429
136,32,technician,single,secondary,no,0,yes,no,1121.407407
137,43,services,single,unknown,no,0,no,no,553.016667
138,32,blue-collar,married,secondary,no,517,yes,no,423.521429
139,46,blue-collar,married,secondary,no,265,yes,no,423.521429
140,53,housemaid,divorced,primary,no,947,yes,no,446.600000
141,34,self-employed,single,secondary,no,3,yes,no,60.363636
142,57,unemployed,married,tertiary,no,42,no,no,637.100000
143,37,blue-collar,married,secondary,no,37,yes,no,423.521429
144,59,blue-collar,married,secondary,no,57,yes,no,423.521429
145,33,services,married,secondary,no,22,yes,no,553.016667
146,56,blue-collar,divorced,primary,no,8,yes,no,423.521429
147,48,unemployed,married,secondary,no,293,yes,no,637.100000
148,43,services,married,primary,no,3,yes,no,553.016667
149,54,blue-collar,married,primary,no,348,yes,no,423.521429
150,51,blue-collar,married,unknown,no,-19,yes,no,423.521429
151,26,student,single,secondary,no,0,yes,no,164.166667
152,40,management,married,tertiary,no,-4,yes,no,1082.815789
153,39,management,married,secondary,no,18,yes,no,1082.815789
154,50,technician,married,primary,no,139,no,no,1121.407407
155,41,services,married,secondary,no,0,yes,no,553.016667
156,51,blue-collar,married,unknown,no,1883,yes,no,423.521429
157,60,retired,divorced,secondary,no,216,yes,no,330.250000
158,52,blue-collar,married,secondary,no,782,yes,no,423.521429
159,48,blue-collar,married,secondary,no,904,yes,no,423.521429
160,48,services,married,unknown,no,1705,yes,no,553.016667
161,39,technician,single,tertiary,no,47,yes,no,1121.407407
162,47,services,single,secondary,no,176,yes,no,553.016667
163,40,blue-collar,married,secondary,no,1225,yes,no,423.521429
164,45,technician,married,secondary,no,86,yes,no,1121.407407
165,26,admin.,single,secondary,no,82,yes,no,235.300000
166,52,management,married,tertiary,no,271,yes,no,1082.815789
167,54,technician,married,secondary,no,1378,yes,no,1121.407407
168,54,admin.,married,tertiary,no,184,no,no,235.300000
169,50,blue-collar,married,primary,no,0,no,no,423.521429
170,35,blue-collar,married,secondary,no,0,yes,no,423.521429
171,44,services,married,secondary,no,1357,yes,yes,553.016667
172,53,entrepreneur,married,unknown,no,19,yes,no,299.714286
173,35,retired,single,primary,no,434,no,no,330.250000
174,60,admin.,divorced,secondary,no,92,yes,no,235.300000
175,53,admin.,divorced,secondary,no,1151,yes,no,235.300000
176,48,unemployed,married,secondary,no,41,yes,no,637.100000
177,34,technician,married,secondary,no,51,yes,no,1121.407407
178,54,services,married,secondary,no,214,yes,no,553.016667
179,51,management,married,secondary,no,1161,yes,no,1082.815789
180,31,services,married,tertiary,no,37,yes,no,553.016667
181,35,technician,divorced,secondary,no,787,yes,no,1121.407407
182,35,services,married,secondary,no,59,yes,no,553.016667
183,38,technician,married,secondary,no,253,yes,no,1121.407407
184,36,admin.,married,tertiary,no,211,yes,no,235.300000
185,58,retired,married,primary,no,235,yes,no,330.250000
186,40,services,divorced,unknown,no,4384,yes,no,553.016667
187,54,management,married,secondary,no,4080,no,no,1082.815789
188,34,blue-collar,single,secondary,no,53,yes,yes,423.521429
189,31,management,single,tertiary,no,0,yes,no,1082.815789
190,51,retired,married,secondary,no,2127,yes,no,330.250000
191,33,management,married,tertiary,no,377,yes,no,1082.815789
192,55,management,married,tertiary,no,73,yes,no,1082.815789
193,42,admin.,married,secondary,no,445,yes,no,235.300000
194,34,blue-collar,married,secondary,no,243,yes,no,423.521429
195,33,blue-collar,single,secondary,no,307,yes,no,423.521429
196,38,services,married,secondary,no,155,yes,no,553.016667
197,50,technician,divorced,tertiary,no,173,no,yes,1121.407407
198,43,management,married,tertiary,no,400,yes,no,1082.815789
199,61,blue-collar,divorced,primary,no,1428,yes,no,423.521429
200,47,admin.,married,secondary,no,219,yes,no,235.300000
201,48,self-employed,married,tertiary,no,7,yes,no,60.363636
202,44,blue-collar,married,secondary,no,575,yes,no,423.521429
203,35,student,single,unknown,no,298,yes,no,164.166667
204,35,services,married,secondary,no,0,yes,no,553.016667
205,50,services,married,secondary,no,5699,yes,no,553.016667
206,41,management,married,tertiary,no,176,yes,yes,1082.815789
207,41,management,married,tertiary,no,517,yes,no,1082.815789
208,39,services,single,unknown,no,257,yes,no,553.016667
209,42,retired,married,secondary,no,56,yes,no,330.250000
210,38,blue-collar,married,secondary,no,-390,yes,no,423.521429
211,53,retired,married,secondary,no,330,yes,no,330.250000
212,59,housemaid,divorced,primary,no,195,no,no,446.600000
213,36,services,married,secondary,no,301,yes,no,553.016667
214,54,blue-collar,married,primary,no,-41,yes,no,423.521429
215,40,technician,married,tertiary,no,483,yes,no,1121.407407
216,47,unknown,married,unknown,no,28,no,no,18.666667
217,53,unemployed,married,unknown,no,13,no,no,637.100000
218,46,housemaid,married,primary,no,965,no,no,446.600000
219,39,management,married,tertiary,no,378,yes,yes,1082.815789
220,40,unemployed,married,secondary,no,219,yes,no,637.100000
221,28,blue-collar,married,primary,no,324,yes,no,423.521429
222,35,entrepreneur,divorced,secondary,no,-69,yes,no,299.714286
223,55,retired,married,secondary,no,0,no,yes,330.250000
224,43,technician,divorced,unknown,no,205,yes,no,1121.407407
225,48,blue-collar,married,primary,no,278,yes,no,423.521429
226,58,management,married,unknown,no,1065,yes,no,1082.815789
227,33,management,single,tertiary,no,34,yes,no,1082.815789
228,36,blue-collar,married,unknown,no,1033,no,no,423.521429
229,53,services,divorced,secondary,no,1467,yes,no,553.016667
230,47,blue-collar,married,primary,no,-12,yes,no,423.521429
231,31,services,married,secondary,no,388,yes,no,553.016667
232,57,entrepreneur,married,secondary,no,294,yes,no,299.714286
233,53,blue-collar,married,unknown,no,1827,no,no,423.521429
234,55,blue-collar,married,primary,no,627,yes,no,423.521429
235,45,blue-collar,married,primary,no,25,yes,no,423.521429
236,53,admin.,divorced,secondary,no,315,yes,no,235.300000
237,37,blue-collar,married,primary,no,0,yes,no,423.521429
238,44,admin.,divorced,secondary,no,66,yes,no,235.300000
239,49,blue-collar,divorced,primary,no,-9,yes,yes,423.521429
240,46,technician,married,secondary,no,349,yes,yes,1121.407407
241,43,entrepreneur,married,unknown,no,100,yes,no,299.714286
242,38,admin.,married,secondary,no,0,no,no,235.300000
243,43,technician,married,secondary,no,434,yes,no,1121.407407
244,49,management,married,tertiary,no,3237,yes,no,1082.815789
245,42,management,married,unknown,no,275,no,no,1082.815789
246,22,blue-collar,single,secondary,no,0,yes,no,423.521429
247,40,management,married,tertiary,no,207,yes,no,1082.815789
248,39,blue-collar,married,secondary,no,483,yes,no,423.521429
249,51,services,married,secondary,no,2248,yes,no,553.016667
250,49,admin.,married,secondary,no,428,yes,no,235.300000
251,53,blue-collar,married,secondary,no,0,yes,yes,423.521429
252,34,services,single,secondary,no,0,yes,no,553.016667
253,33,technician,divorced,secondary,no,140,yes,no,1121.407407
254,50,management,single,tertiary,no,297,yes,no,1082.815789
255,39,blue-collar,married,primary,no,279,yes,no,423.521429
256,59,entrepreneur,divorced,secondary,no,901,yes,no,299.714286
257,30,technician,single,secondary,no,2573,yes,no,1121.407407
258,36,services,married,secondary,no,143,yes,yes,553.016667
259,40,blue-collar,married,secondary,no,475,yes,no,423.521429
260,53,blue-collar,married,secondary,no,70,yes,no,423.521429
261,34,management,single,tertiary,no,318,yes,no,1082.815789
262,37,technician,married,secondary,no,275,yes,no,1121.407407
263,42,management,divorced,tertiary,no,742,yes,no,1082.815789
264,41,entrepreneur,married,primary,no,236,yes,no,299.714286
265,30,student,single,tertiary,no,25,yes,no,164.166667
266,37,management,single,tertiary,no,600,yes,no,1082.815789
267,39,admin.,divorced,secondary,no,-349,yes,no,235.300000
268,41,blue-collar,married,primary,no,183,yes,yes,423.521429
269,40,blue-collar,married,primary,no,0,yes,no,423.521429
270,42,management,single,tertiary,no,0,yes,yes,1082.815789
271,40,blue-collar,divorced,primary,no,0,yes,no,423.521429
272,57,technician,married,secondary,no,1078,yes,no,1121.407407
273,56,entrepreneur,divorced,secondary,no,155,no,no,299.714286
274,37,admin.,married,secondary,no,190,yes,no,235.300000
275,59,retired,married,secondary,no,319,yes,no,330.250000
276,39,services,divorced,secondary,no,-185,yes,no,553.016667
277,49,services,married,secondary,no,47,no,no,553.016667
278,38,services,single,secondary,no,570,yes,no,553.016667
279,36,self-employed,married,tertiary,no,19,no,no,60.363636
280,50,blue-collar,married,primary,no,61,yes,no,423.521429
281,41,admin.,married,secondary,no,-62,yes,yes,235.300000
282,54,technician,married,tertiary,no,258,no,no,1121.407407
283,58,blue-collar,married,primary,no,76,yes,no,423.521429
284,30,blue-collar,single,secondary,no,0,yes,no,423.521429
285,33,admin.,single,secondary,no,352,yes,no,235.300000
286,47,admin.,married,secondary,no,368,yes,no,235.300000
287,50,technician,single,tertiary,no,339,yes,no,1121.407407
288,32,blue-collar,married,secondary,no,1331,yes,no,423.521429
289,40,self-employed,married,secondary,no,672,yes,no,60.363636
290,37,management,married,tertiary,no,58,yes,no,1082.815789
291,54,technician,single,unknown,no,447,yes,no,1121.407407
292,24,student,single,secondary,no,423,yes,no,164.166667
293,54,management,married,tertiary,no,0,no,no,1082.815789
294,34,technician,married,secondary,no,19,yes,no,1121.407407
295,56,technician,divorced,primary,no,13,yes,no,1121.407407
296,31,blue-collar,single,secondary,no,3,yes,no,423.521429
297,24,student,single,secondary,no,82,yes,no,164.166667
298,42,blue-collar,divorced,primary,no,28,yes,no,423.521429
299,57,technician,married,secondary,no,792,yes,no,1121.407407
300,42,blue-collar,married,unknown,no,408,yes,no,423.521429
301,51,admin.,married,secondary,no,531,yes,no,235.300000
302,57,retired,married,secondary,no,211,yes,no,330.250000
303,36,services,single,secondary,no,62,yes,no,553.016667
304,53,services,married,unknown,no,257,yes,no,553.016667
305,50,technician,married,secondary,no,1234,yes,no,1121.407407
306,54,management,married,tertiary,no,313,yes,no,1082.815789
307,55,blue-collar,married,secondary,no,89,yes,no,423.521429
308,44,blue-collar,married,secondary,no,129,yes,yes,423.521429
309,43,management,married,unknown,no,0,yes,no,1082.815789
310,56,admin.,married,secondary,no,353,yes,no,235.300000
311,54,technician,married,unknown,no,851,yes,no,1121.407407
312,55,services,divorced,primary,no,96,yes,yes,553.016667
313,37,services,divorced,secondary,no,398,yes,yes,553.016667
314,33,admin.,single,tertiary,no,193,no,no,235.300000
315,46,admin.,married,secondary,no,-358,yes,no,235.300000
316,36,blue-collar,married,secondary,no,539,yes,yes,423.521429
317,51,technician,single,secondary,no,0,yes,no,1121.407407
318,40,retired,single,primary,no,0,no,no,330.250000
319,42,blue-collar,married,secondary,no,490,yes,no,423.521429
320,51,blue-collar,married,secondary,no,0,yes,no,423.521429
321,49,blue-collar,married,unknown,no,403,yes,no,423.521429
322,48,management,married,secondary,no,161,yes,no,1082.815789
323,32,technician,divorced,tertiary,no,2558,no,no,1121.407407
324,31,admin.,single,secondary,no,98,yes,no,235.300000
325,55,management,single,tertiary,no,115,no,no,1082.815789
326,40,blue-collar,single,secondary,no,436,yes,no,423.521429
327,47,technician,married,tertiary,no,831,yes,no,1121.407407
328,57,technician,married,unknown,no,206,yes,no,1121.407407
329,41,blue-collar,married,secondary,no,290,yes,no,423.521429
330,48,blue-collar,married,secondary,no,1,no,no,423.521429
331,42,blue-collar,married,unknown,no,57,yes,no,423.521429
332,30,blue-collar,single,secondary,no,-457,yes,no,423.521429
333,58,management,single,tertiary,no,1387,yes,no,1082.815789
334,45,management,divorced,tertiary,no,24598,yes,no,1082.815789

In [17]:
df_banking['above_below_average'] = df_banking.groupby('job')['outstanding_balance'].transform(lambda x: x - x.mean())

C:\Users\alexf\AppData\Local\Temp\ipykernel_587152\3979127857.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_banking['above_below_average'] = df_banking.groupby('job')['outstanding_balance'].transform(lambda x: x - x.mean())

In [18]:
df_banking

,age,job,marital,education,default,outstanding_balance,housing_loan,personal_loan,average_balance_per_job,above_below_average
0,58,management,married,tertiary,no,2143,yes,no,1082.815789,1060.184211
1,44,technician,single,secondary,no,29,yes,no,1121.407407,-1092.407407
2,33,entrepreneur,married,secondary,no,2,yes,yes,299.714286,-297.714286
3,47,blue-collar,married,unknown,no,1506,yes,no,423.521429,1082.478571
4,33,unknown,single,unknown,no,1,no,no,18.666667,-17.666667
5,35,management,married,tertiary,no,231,yes,no,1082.815789,-851.815789
6,28,management,single,tertiary,no,447,yes,yes,1082.815789,-635.815789
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,299.714286,-297.714286
8,58,retired,married,primary,no,121,yes,no,330.250000,-209.250000
9,43,technician,single,secondary,no,593,yes,no,1121.407407,-528.407407
10,41,admin.,divorced,secondary,no,270,yes,no,235.300000,34.700000
11,29,admin.,single,secondary,no,390,yes,no,235.300000,154.700000
12,53,technician,married,secondary,no,6,yes,no,1121.407407,-1115.407407
13,58,technician,married,unknown,no,71,yes,no,1121.407407,-1050.407407
14,57,services,married,secondary,no,162,yes,no,553.016667,-391.016667
15,51,retired,married,primary,no,229,yes,no,330.250000,-101.250000
16,45,admin.,single,unknown,no,13,yes,no,235.300000,-222.300000
17,57,blue-collar,married,primary,no,52,yes,no,423.521429,-371.521429
18,60,retired,married,primary,no,60,yes,no,330.250000,-270.250000
19,33,services,married,secondary,no,0,yes,no,553.016667,-553.016667
20,28,blue-collar,married,secondary,no,723,yes,yes,423.521429,299.478571
21,56,management,married,tertiary,no,779,yes,no,1082.815789,-303.815789
22,32,blue-collar,single,primary,no,23,yes,yes,423.521429,-400.521429
23,25,services,married,secondary,no,50,yes,no,553.016667,-503.016667
24,40,retired,married,primary,no,0,yes,yes,330.250000,-330.250000
25,44,admin.,married,secondary,no,-372,yes,no,235.300000,-607.300000
26,39,management,single,tertiary,no,255,yes,no,1082.815789,-827.815789
27,52,entrepreneur,married,secondary,no,113,yes,yes,299.714286,-186.714286
28,46,management,single,secondary,no,-246,yes,no,1082.815789,-1328.815789
29,36,technician,single,secondary,no,265,yes,yes,1121.407407,-856.407407
30,57,technician,married,secondary,no,839,no,yes,1121.407407,-282.407407
31,49,management,married,tertiary,no,378,yes,no,1082.815789,-704.815789
32,60,admin.,married,secondary,no,39,yes,yes,235.300000,-196.300000
33,59,blue-collar,married,secondary,no,0,yes,no,423.521429,-423.521429
34,51,management,married,tertiary,no,10635,yes,no,1082.815789,9552.184211
35,57,technician,divorced,secondary,no,63,yes,no,1121.407407,-1058.407407
36,25,blue-collar,married,secondary,no,-7,yes,no,423.521429,-430.521429
37,53,technician,married,secondary,no,-3,no,no,1121.407407,-1124.407407
38,36,admin.,divorced,secondary,no,506,yes,no,235.300000,270.700000
39,37,admin.,single,secondary,no,0,yes,no,235.300000,-235.300000
40,44,services,divorced,secondary,no,2586,yes,no,553.016667,2032.983333
41,50,management,married,secondary,no,49,yes,no,1082.815789,-1033.815789
42,60,blue-collar,married,unknown,no,104,yes,no,423.521429,-319.521429
43,54,retired,married,secondary,no,529,yes,no,330.250000,198.750000
44,58,retired,married,unknown,no,96,yes,no,330.250000,-234.250000
45,36,admin.,single,primary,no,-171,yes,no,235.300000,-406.300000
46,58,self-employed,married,tertiary,no,-364,yes,no,60.363636,-424.363636
47,44,technician,married,secondary,no,0,yes,no,1121.407407,-1121.407407
48,55,technician,divorced,secondary,no,0,no,no,1121.407407,-1121.407407
49,29,management,single,tertiary,no,0,yes,no,1082.815789,-1082.815789
50,54,blue-collar,married,secondary,no,1291,yes,no,423.521429,867.478571
51,48,management,divorced,tertiary,no,-244,yes,no,1082.815789,-1326.815789
52,32,management,married,tertiary,no,0,yes,no,1082.815789,-1082.815789
53,42,admin.,single,secondary,no,-76,yes,no,235.300000,-311.300000
54,24,technician,single,secondary,no,-103,yes,yes,1121.407407,-1224.407407
55,38,entrepreneur,single,tertiary,no,243,no,yes,299.714286,-56.714286
56,38,management,single,tertiary,no,424,yes,no,1082.815789,-658.815789
57,47,blue-collar,married,unknown,no,306,yes,no,423.521429,-117.521429
58,40,blue-collar,single,unknown,no,24,yes,no,423.521429,-399.521429
59,46,services,married,primary,no,179,yes,no,553.016667,-374.016667
60,32,admin.,married,tertiary,no,0,yes,no,235.300000,-235.300000
61,53,technician,divorced,secondary,no,989,yes,no,1121.407407,-132.407407
62,57,blue-collar,married,primary,no,249,yes,no,423.521429,-174.521429
63,33,services,married,secondary,no,790,yes,no,553.016667,236.983333
64,49,blue-collar,married,unknown,no,154,yes,no,423.521429,-269.521429
65,51,management,married,tertiary,no,6530,yes,no,1082.815789,5447.184211
66,60,retired,married,tertiary,no,100,no,no,330.250000,-230.250000
67,59,management,divorced,tertiary,no,59,yes,no,1082.815789,-1023.815789
68,55,technician,married,secondary,no,1205,yes,no,1121.407407,83.592593
69,35,blue-collar,single,secondary,no,12223,yes,yes,423.521429,11799.478571
70,57,blue-collar,married,secondary,no,5935,yes,yes,423.521429,5511.478571
71,31,services,married,secondary,no,25,yes,yes,553.016667,-528.016667
72,54,management,married,secondary,no,282,yes,yes,1082.815789,-800.815789
73,55,blue-collar,married,primary,no,23,yes,no,423.521429,-400.521429
74,43,technician,married,secondary,no,1937,yes,no,1121.407407,815.592593
75,53,technician,married,secondary,no,384,yes,no,1121.407407,-737.407407
76,44,blue-collar,married,secondary,no,582,no,yes,423.521429,158.478571
77,55,services,divorced,secondary,no,91,no,no,553.016667,-462.016667
78,49,services,divorced,secondary,no,0,yes,yes,553.016667,-553.016667
79,55,services,divorced,secondary,yes,1,yes,no,553.016667,-552.016667
80,45,admin.,single,secondary,no,206,yes,no,235.300000,-29.300000
81,47,services,divorced,secondary,no,164,no,no,553.016667,-389.016667
82,42,technician,single,secondary,no,690,yes,no,1121.407407,-431.407407
83,59,admin.,married,secondary,no,2343,yes,no,235.300000,2107.700000
84,46,self-employed,married,tertiary,no,137,yes,yes,60.363636,76.636364
85,51,blue-collar,married,primary,no,173,yes,no,423.521429,-250.521429
86,56,admin.,married,secondary,no,45,no,no,235.300000,-190.300000
87,41,technician,married,secondary,no,1270,yes,no,1121.407407,148.592593
88,46,management,divorced,secondary,no,16,yes,yes,1082.815789,-1066.815789
89,57,retired,married,secondary,no,486,yes,no,330.250000,155.750000
90,42,management,single,secondary,no,50,no,no,1082.815789,-1032.815789
91,30,technician,married,secondary,no,152,yes,yes,1121.407407,-969.407407
92,60,admin.,married,secondary,no,290,yes,no,235.300000,54.700000
93,60,blue-collar,married,unknown,no,54,yes,no,423.521429,-369.521429
94,57,entrepreneur,divorced,secondary,no,-37,no,no,299.714286,-336.714286
95,36,management,married,tertiary,no,101,yes,yes,1082.815789,-981.815789
96,55,blue-collar,married,secondary,no,383,no,no,423.521429,-40.521429
97,60,retired,married,tertiary,no,81,yes,no,330.250000,-249.250000
98,39,technician,married,secondary,no,0,yes,no,1121.407407,-1121.407407
99,46,management,married,tertiary,no,229,yes,no,1082.815789,-853.815789
100,44,blue-collar,married,secondary,no,-674,yes,no,423.521429,-1097.521429
101,53,blue-collar,married,primary,no,90,no,no,423.521429,-333.521429
102,52,blue-collar,married,primary,no,128,yes,no,423.521429,-295.521429
103,59,blue-collar,married,primary,no,179,yes,no,423.521429,-244.521429
104,27,technician,single,tertiary,no,0,yes,no,1121.407407,-1121.407407
105,44,blue-collar,married,secondary,no,54,yes,no,423.521429,-369.521429
106,47,technician,married,tertiary,no,151,yes,no,1121.407407,-970.407407
107,34,admin.,married,secondary,no,61,no,yes,235.300000,-174.300000
108,59,retired,single,secondary,no,30,yes,no,330.250000,-300.250000
109,45,management,married,tertiary,no,523,yes,no,1082.815789,-559.815789
110,29,services,divorced,secondary,no,31,yes,no,553.016667,-522.016667
111,46,technician,divorced,secondary,no,79,no,no,1121.407407,-1042.407407
112,56,self-employed,married,primary,no,-34,yes,yes,60.363636,-94.363636
113,36,blue-collar,married,primary,no,448,yes,no,423.521429,24.478571
114,59,retired,divorced,primary,no,81,yes,no,330.250000,-249.250000
115,44,blue-collar,married,secondary,no,144,yes,no,423.521429,-279.521429
116,41,admin.,married,secondary,no,351,yes,no,235.300000,115.700000
117,33,management,single,tertiary,no,-67,yes,no,1082.815789,-1149.815789
118,59,management,divorced,tertiary,no,262,no,no,1082.815789,-820.815789
119,57,technician,married,primary,no,0,no,no,1121.407407,-1121.407407
120,56,technician,divorced,unknown,no,56,yes,no,1121.407407,-1065.407407
121,51,blue-collar,married,secondary,no,26,yes,no,423.521429,-397.521429
122,34,admin.,married,unknown,no,3,yes,no,235.300000,-232.300000
123,43,services,married,secondary,no,41,yes,yes,553.016667,-512.016667
124,52,technician,married,tertiary,no,7,no,yes,1121.407407,-1114.407407
125,33,technician,single,secondary,no,105,yes,no,1121.407407,-1016.407407
126,29,admin.,single,secondary,no,818,yes,yes,235.300000,582.700000
127,34,services,married,secondary,no,-16,yes,yes,553.016667,-569.016667
128,31,blue-collar,married,secondary,no,0,yes,no,423.521429,-423.521429
129,55,services,married,secondary,no,2476,yes,no,553.016667,1922.983333
130,55,management,married,unknown,no,1185,no,no,1082.815789,102.184211
131,32,admin.,single,secondary,no,217,yes,no,235.300000,-18.300000
132,38,technician,single,secondary,no,1685,yes,no,1121.407407,563.592593
133,55,admin.,single,secondary,no,802,yes,yes,235.300000,566.700000
134,28,unemployed,single,tertiary,no,0,yes,no,637.100000,-637.100000
135,23,blue-collar,married,secondary,no,94,yes,no,423.521429,-329.521429
136,32,technician,single,secondary,no,0,yes,no,1121.407407,-1121.407407
137,43,services,single,unknown,no,0,no,no,553.016667,-553.016667
138,32,blue-collar,married,secondary,no,517,yes,no,423.521429,93.478571
139,46,blue-collar,married,secondary,no,265,yes,no,423.521429,-158.521429
140,53,housemaid,divorced,primary,no,947,yes,no,446.600000,500.400000
141,34,self-employed,single,secondary,no,3,yes,no,60.363636,-57.363636
142,57,unemployed,married,tertiary,no,42,no,no,637.100000,-595.100000
143,37,blue-collar,married,secondary,no,37,yes,no,423.521429,-386.521429
144,59,blue-collar,married,secondary,no,57,yes,no,423.521429,-366.521429
145,33,services,married,secondary,no,22,yes,no,553.016667,-531.016667
146,56,blue-collar,divorced,primary,no,8,yes,no,423.521429,-415.521429
147,48,unemployed,married,secondary,no,293,yes,no,637.100000,-344.100000
148,43,services,married,primary,no,3,yes,no,553.016667,-550.016667
149,54,blue-collar,married,primary,no,348,yes,no,423.521429,-75.521429
150,51,blue-collar,married,unknown,no,-19,yes,no,423.521429,-442.521429
151,26,student,single,secondary,no,0,yes,no,164.166667,-164.166667
152,40,management,married,tertiary,no,-4,yes,no,1082.815789,-1086.815789
153,39,management,married,secondary,no,18,yes,no,1082.815789,-1064.815789
154,50,technician,married,primary,no,139,no,no,1121.407407,-982.407407
155,41,services,married,secondary,no,0,yes,no,553.016667,-553.016667
156,51,blue-collar,married,unknown,no,1883,yes,no,423.521429,1459.478571
157,60,retired,divorced,secondary,no,216,yes,no,330.250000,-114.250000
158,52,blue-collar,married,secondary,no,782,yes,no,423.521429,358.478571
159,48,blue-collar,married,secondary,no,904,yes,no,423.521429,480.478571
160,48,services,married,unknown,no,1705,yes,no,553.016667,1151.983333
161,39,technician,single,tertiary,no,47,yes,no,1121.407407,-1074.407407
162,47,services,single,secondary,no,176,yes,no,553.016667,-377.016667
163,40,blue-collar,married,secondary,no,1225,yes,no,423.521429,801.478571
164,45,technician,married,secondary,no,86,yes,no,1121.407407,-1035.407407
165,26,admin.,single,secondary,no,82,yes,no,235.300000,-153.300000
166,52,management,married,tertiary,no,271,yes,no,1082.815789,-811.815789
167,54,technician,married,secondary,no,1378,yes,no,1121.407407,256.592593
168,54,admin.,married,tertiary,no,184,no,no,235.300000,-51.300000
169,50,blue-collar,married,primary,no,0,no,no,423.521429,-423.521429
170,35,blue-collar,married,secondary,no,0,yes,no,423.521429,-423.521429
171,44,services,married,secondary,no,1357,yes,yes,553.016667,803.983333
172,53,entrepreneur,married,unknown,no,19,yes,no,299.714286,-280.714286
173,35,retired,single,primary,no,434,no,no,330.250000,103.750000
174,60,admin.,divorced,secondary,no,92,yes,no,235.300000,-143.300000
175,53,admin.,divorced,secondary,no,1151,yes,no,235.300000,915.700000
176,48,unemployed,married,secondary,no,41,yes,no,637.100000,-596.100000
177,34,technician,married,secondary,no,51,yes,no,1121.407407,-1070.407407
178,54,services,married,secondary,no,214,yes,no,553.016667,-339.016667
179,51,management,married,secondary,no,1161,yes,no,1082.815789,78.184211
180,31,services,married,tertiary,no,37,yes,no,553.016667,-516.016667
181,35,technician,divorced,secondary,no,787,yes,no,1121.407407,-334.407407
182,35,services,married,secondary,no,59,yes,no,553.016667,-494.016667
183,38,technician,married,secondary,no,253,yes,no,1121.407407,-868.407407
184,36,admin.,married,tertiary,no,211,yes,no,235.300000,-24.300000
185,58,retired,married,primary,no,235,yes,no,330.250000,-95.250000
186,40,services,divorced,unknown,no,4384,yes,no,553.016667,3830.983333
187,54,management,married,secondary,no,4080,no,no,1082.815789,2997.184211
188,34,blue-collar,single,secondary,no,53,yes,yes,423.521429,-370.521429
189,31,management,single,tertiary,no,0,yes,no,1082.815789,-1082.815789
190,51,retired,married,secondary,no,2127,yes,no,330.250000,1796.750000
191,33,management,married,tertiary,no,377,yes,no,1082.815789,-705.815789
192,55,management,married,tertiary,no,73,yes,no,1082.815789,-1009.815789
193,42,admin.,married,secondary,no,445,yes,no,235.300000,209.700000
194,34,blue-collar,married,secondary,no,243,yes,no,423.521429,-180.521429
195,33,blue-collar,single,secondary,no,307,yes,no,423.521429,-116.521429
196,38,services,married,secondary,no,155,yes,no,553.016667,-398.016667
197,50,technician,divorced,tertiary,no,173,no,yes,1121.407407,-948.407407
198,43,management,married,tertiary,no,400,yes,no,1082.815789,-682.815789
199,61,blue-collar,divorced,primary,no,1428,yes,no,423.521429,1004.478571
200,47,admin.,married,secondary,no,219,yes,no,235.300000,-16.300000
201,48,self-employed,married,tertiary,no,7,yes,no,60.363636,-53.363636
202,44,blue-collar,married,secondary,no,575,yes,no,423.521429,151.478571
203,35,student,single,unknown,no,298,yes,no,164.166667,133.833333
204,35,services,married,secondary,no,0,yes,no,553.016667,-553.016667
205,50,services,married,secondary,no,5699,yes,no,553.016667,5145.983333
206,41,management,married,tertiary,no,176,yes,yes,1082.815789,-906.815789
207,41,management,married,tertiary,no,517,yes,no,1082.815789,-565.815789
208,39,services,single,unknown,no,257,yes,no,553.016667,-296.016667
209,42,retired,married,secondary,no,56,yes,no,330.250000,-274.250000
210,38,blue-collar,married,secondary,no,-390,yes,no,423.521429,-813.521429
211,53,retired,married,secondary,no,330,yes,no,330.250000,-0.250000
212,59,housemaid,divorced,primary,no,195,no,no,446.600000,-251.600000
213,36,services,married,secondary,no,301,yes,no,553.016667,-252.016667
214,54,blue-collar,married,primary,no,-41,yes,no,423.521429,-464.521429
215,40,technician,married,tertiary,no,483,yes,no,1121.407407,-638.407407
216,47,unknown,married,unknown,no,28,no,no,18.666667,9.333333
217,53,unemployed,married,unknown,no,13,no,no,637.100000,-624.100000
218,46,housemaid,married,primary,no,965,no,no,446.600000,518.400000
219,39,management,married,tertiary,no,378,yes,yes,1082.815789,-704.815789
220,40,unemployed,married,secondary,no,219,yes,no,637.100000,-418.100000
221,28,blue-collar,married,primary,no,324,yes,no,423.521429,-99.521429
222,35,entrepreneur,divorced,secondary,no,-69,yes,no,299.714286,-368.714286
223,55,retired,married,secondary,no,0,no,yes,330.250000,-330.250000
224,43,technician,divorced,unknown,no,205,yes,no,1121.407407,-916.407407
225,48,blue-collar,married,primary,no,278,yes,no,423.521429,-145.521429
226,58,management,married,unknown,no,1065,yes,no,1082.815789,-17.815789
227,33,management,single,tertiary,no,34,yes,no,1082.815789,-1048.815789
228,36,blue-collar,married,unknown,no,1033,no,no,423.521429,609.478571
229,53,services,divorced,secondary,no,1467,yes,no,553.016667,913.983333
230,47,blue-collar,married,primary,no,-12,yes,no,423.521429,-435.521429
231,31,services,married,secondary,no,388,yes,no,553.016667,-165.016667
232,57,entrepreneur,married,secondary,no,294,yes,no,299.714286,-5.714286
233,53,blue-collar,married,unknown,no,1827,no,no,423.521429,1403.478571
234,55,blue-collar,married,primary,no,627,yes,no,423.521429,203.478571
235,45,blue-collar,married,primary,no,25,yes,no,423.521429,-398.521429
236,53,admin.,divorced,secondary,no,315,yes,no,235.300000,79.700000
237,37,blue-collar,married,primary,no,0,yes,no,423.521429,-423.521429
238,44,admin.,divorced,secondary,no,66,yes,no,235.300000,-169.300000
239,49,blue-collar,divorced,primary,no,-9,yes,yes,423.521429,-432.521429
240,46,technician,married,secondary,no,349,yes,yes,1121.407407,-772.407407
241,43,entrepreneur,married,unknown,no,100,yes,no,299.714286,-199.714286
242,38,admin.,married,secondary,no,0,no,no,235.300000,-235.300000
243,43,technician,married,secondary,no,434,yes,no,1121.407407,-687.407407
244,49,management,married,tertiary,no,3237,yes,no,1082.815789,2154.184211
245,42,management,married,unknown,no,275,no,no,1082.815789,-807.815789
246,22,blue-collar,single,secondary,no,0,yes,no,423.521429,-423.521429
247,40,management,married,tertiary,no,207,yes,no,1082.815789,-875.815789
248,39,blue-collar,married,secondary,no,483,yes,no,423.521429,59.478571
249,51,services,married,secondary,no,2248,yes,no,553.016667,1694.983333
250,49,admin.,married,secondary,no,428,yes,no,235.300000,192.700000
251,53,blue-collar,married,secondary,no,0,yes,yes,423.521429,-423.521429
252,34,services,single,secondary,no,0,yes,no,553.016667,-553.016667
253,33,technician,divorced,secondary,no,140,yes,no,1121.407407,-981.407407
254,50,management,single,tertiary,no,297,yes,no,1082.815789,-785.815789
255,39,blue-collar,married,primary,no,279,yes,no,423.521429,-144.521429
256,59,entrepreneur,divorced,secondary,no,901,yes,no,299.714286,601.285714
257,30,technician,single,secondary,no,2573,yes,no,1121.407407,1451.592593
258,36,services,married,secondary,no,143,yes,yes,553.016667,-410.016667
259,40,blue-collar,married,secondary,no,475,yes,no,423.521429,51.478571
260,53,blue-collar,married,secondary,no,70,yes,no,423.521429,-353.521429
261,34,management,single,tertiary,no,318,yes,no,1082.815789,-764.815789
262,37,technician,married,secondary,no,275,yes,no,1121.407407,-846.407407
263,42,management,divorced,tertiary,no,742,yes,no,1082.815789,-340.815789
264,41,entrepreneur,married,primary,no,236,yes,no,299.714286,-63.714286
265,30,student,single,tertiary,no,25,yes,no,164.166667,-139.166667
266,37,management,single,tertiary,no,600,yes,no,1082.815789,-482.815789
267,39,admin.,divorced,secondary,no,-349,yes,no,235.300000,-584.300000
268,41,blue-collar,married,primary,no,183,yes,yes,423.521429,-240.521429
269,40,blue-collar,married,primary,no,0,yes,no,423.521429,-423.521429
270,42,management,single,tertiary,no,0,yes,yes,1082.815789,-1082.815789
271,40,blue-collar,divorced,primary,no,0,yes,no,423.521429,-423.521429
272,57,technician,married,secondary,no,1078,yes,no,1121.407407,-43.407407
273,56,entrepreneur,divorced,secondary,no,155,no,no,299.714286,-144.714286
274,37,admin.,married,secondary,no,190,yes,no,235.300000,-45.300000
275,59,retired,married,secondary,no,319,yes,no,330.250000,-11.250000
276,39,services,divorced,secondary,no,-185,yes,no,553.016667,-738.016667
277,49,services,married,secondary,no,47,no,no,553.016667,-506.016667
278,38,services,single,secondary,no,570,yes,no,553.016667,16.983333

In [19]:
df_banking['average_balance_with_loan'] = df_banking[df_banking['housing_loan'] == 'yes'].groupby('job')['outstanding_balance'].transform('mean')

C:\Users\alexf\AppData\Local\Temp\ipykernel_587152\3553461058.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_banking['average_balance_with_loan'] = df_banking[df_banking['housing_loan'] == 'yes'].groupby('job')['outstanding_balance'].transform('mean')

In [20]:
df_banking

,age,job,marital,education,default,outstanding_balance,housing_loan,personal_loan,average_balance_per_job,above_below_average,average_balance_with_loan
0,58,management,married,tertiary,no,2143,yes,no,1082.815789,1060.184211,1027.893939
1,44,technician,single,secondary,no,29,yes,no,1121.407407,-1092.407407,1268.102941
2,33,entrepreneur,married,secondary,no,2,yes,yes,299.714286,-297.714286,348.636364
3,47,blue-collar,married,unknown,no,1506,yes,no,423.521429,1082.478571,423.881890
4,33,unknown,single,unknown,no,1,no,no,18.666667,-17.666667,NaN
5,35,management,married,tertiary,no,231,yes,no,1082.815789,-851.815789,1027.893939
6,28,management,single,tertiary,no,447,yes,yes,1082.815789,-635.815789,1027.893939
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,299.714286,-297.714286,348.636364
8,58,retired,married,primary,no,121,yes,no,330.250000,-209.250000,319.555556
9,43,technician,single,secondary,no,593,yes,no,1121.407407,-528.407407,1268.102941
10,41,admin.,divorced,secondary,no,270,yes,no,235.300000,34.700000,239.616667
11,29,admin.,single,secondary,no,390,yes,no,235.300000,154.700000,239.616667
12,53,technician,married,secondary,no,6,yes,no,1121.407407,-1115.407407,1268.102941
13,58,technician,married,unknown,no,71,yes,no,1121.407407,-1050.407407,1268.102941
14,57,services,married,secondary,no,162,yes,no,553.016667,-391.016667,607.222222
15,51,retired,married,primary,no,229,yes,no,330.250000,-101.250000,319.555556
16,45,admin.,single,unknown,no,13,yes,no,235.300000,-222.300000,239.616667
17,57,blue-collar,married,primary,no,52,yes,no,423.521429,-371.521429,423.881890
18,60,retired,married,primary,no,60,yes,no,330.250000,-270.250000,319.555556
19,33,services,married,secondary,no,0,yes,no,553.016667,-553.016667,607.222222
20,28,blue-collar,married,secondary,no,723,yes,yes,423.521429,299.478571,423.881890
21,56,management,married,tertiary,no,779,yes,no,1082.815789,-303.815789,1027.893939
22,32,blue-collar,single,primary,no,23,yes,yes,423.521429,-400.521429,423.881890
23,25,services,married,secondary,no,50,yes,no,553.016667,-503.016667,607.222222
24,40,retired,married,primary,no,0,yes,yes,330.250000,-330.250000,319.555556
25,44,admin.,married,secondary,no,-372,yes,no,235.300000,-607.300000,239.616667
26,39,management,single,tertiary,no,255,yes,no,1082.815789,-827.815789,1027.893939
27,52,entrepreneur,married,secondary,no,113,yes,yes,299.714286,-186.714286,348.636364
28,46,management,single,secondary,no,-246,yes,no,1082.815789,-1328.815789,1027.893939
29,36,technician,single,secondary,no,265,yes,yes,1121.407407,-856.407407,1268.102941
30,57,technician,married,secondary,no,839,no,yes,1121.407407,-282.407407,NaN
31,49,management,married,tertiary,no,378,yes,no,1082.815789,-704.815789,1027.893939
32,60,admin.,married,secondary,no,39,yes,yes,235.300000,-196.300000,239.616667
33,59,blue-collar,married,secondary,no,0,yes,no,423.521429,-423.521429,423.881890
34,51,management,married,tertiary,no,10635,yes,no,1082.815789,9552.184211,1027.893939
35,57,technician,divorced,secondary,no,63,yes,no,1121.407407,-1058.407407,1268.102941
36,25,blue-collar,married,secondary,no,-7,yes,no,423.521429,-430.521429,423.881890
37,53,technician,married,secondary,no,-3,no,no,1121.407407,-1124.407407,NaN
38,36,admin.,divorced,secondary,no,506,yes,no,235.300000,270.700000,239.616667
39,37,admin.,single,secondary,no,0,yes,no,235.300000,-235.300000,239.616667
40,44,services,divorced,secondary,no,2586,yes,no,553.016667,2032.983333,607.222222
41,50,management,married,secondary,no,49,yes,no,1082.815789,-1033.815789,1027.893939
42,60,blue-collar,married,unknown,no,104,yes,no,423.521429,-319.521429,423.881890
43,54,retired,married,secondary,no,529,yes,no,330.250000,198.750000,319.555556
44,58,retired,married,unknown,no,96,yes,no,330.250000,-234.250000,319.555556
45,36,admin.,single,primary,no,-171,yes,no,235.300000,-406.300000,239.616667
46,58,self-employed,married,tertiary,no,-364,yes,no,60.363636,-424.363636,64.500000
47,44,technician,married,secondary,no,0,yes,no,1121.407407,-1121.407407,1268.102941
48,55,technician,divorced,secondary,no,0,no,no,1121.407407,-1121.407407,NaN
49,29,management,single,tertiary,no,0,yes,no,1082.815789,-1082.815789,1027.893939
50,54,blue-collar,married,secondary,no,1291,yes,no,423.521429,867.478571,423.881890
51,48,management,divorced,tertiary,no,-244,yes,no,1082.815789,-1326.815789,1027.893939
52,32,management,married,tertiary,no,0,yes,no,1082.815789,-1082.815789,1027.893939
53,42,admin.,single,secondary,no,-76,yes,no,235.300000,-311.300000,239.616667
54,24,technician,single,secondary,no,-103,yes,yes,1121.407407,-1224.407407,1268.102941
55,38,entrepreneur,single,tertiary,no,243,no,yes,299.714286,-56.714286,NaN
56,38,management,single,tertiary,no,424,yes,no,1082.815789,-658.815789,1027.893939
57,47,blue-collar,married,unknown,no,306,yes,no,423.521429,-117.521429,423.881890
58,40,blue-collar,single,unknown,no,24,yes,no,423.521429,-399.521429,423.881890
59,46,services,married,primary,no,179,yes,no,553.016667,-374.016667,607.222222
60,32,admin.,married,tertiary,no,0,yes,no,235.300000,-235.300000,239.616667
61,53,technician,divorced,secondary,no,989,yes,no,1121.407407,-132.407407,1268.102941
62,57,blue-collar,married,primary,no,249,yes,no,423.521429,-174.521429,423.881890
63,33,services,married,secondary,no,790,yes,no,553.016667,236.983333,607.222222
64,49,blue-collar,married,unknown,no,154,yes,no,423.521429,-269.521429,423.881890
65,51,management,married,tertiary,no,6530,yes,no,1082.815789,5447.184211,1027.893939
66,60,retired,married,tertiary,no,100,no,no,330.250000,-230.250000,NaN
67,59,management,divorced,tertiary,no,59,yes,no,1082.815789,-1023.815789,1027.893939
68,55,technician,married,secondary,no,1205,yes,no,1121.407407,83.592593,1268.102941
69,35,blue-collar,single,secondary,no,12223,yes,yes,423.521429,11799.478571,423.881890
70,57,blue-collar,married,secondary,no,5935,yes,yes,423.521429,5511.478571,423.881890
71,31,services,married,secondary,no,25,yes,yes,553.016667,-528.016667,607.222222
72,54,management,married,secondary,no,282,yes,yes,1082.815789,-800.815789,1027.893939
73,55,blue-collar,married,primary,no,23,yes,no,423.521429,-400.521429,423.881890
74,43,technician,married,secondary,no,1937,yes,no,1121.407407,815.592593,1268.102941
75,53,technician,married,secondary,no,384,yes,no,1121.407407,-737.407407,1268.102941
76,44,blue-collar,married,secondary,no,582,no,yes,423.521429,158.478571,NaN
77,55,services,divorced,secondary,no,91,no,no,553.016667,-462.016667,NaN
78,49,services,divorced,secondary,no,0,yes,yes,553.016667,-553.016667,607.222222
79,55,services,divorced,secondary,yes,1,yes,no,553.016667,-552.016667,607.222222
80,45,admin.,single,secondary,no,206,yes,no,235.300000,-29.300000,239.616667
81,47,services,divorced,secondary,no,164,no,no,553.016667,-389.016667,NaN
82,42,technician,single,secondary,no,690,yes,no,1121.407407,-431.407407,1268.102941
83,59,admin.,married,secondary,no,2343,yes,no,235.300000,2107.700000,239.616667
84,46,self-employed,married,tertiary,no,137,yes,yes,60.363636,76.636364,64.500000
85,51,blue-collar,married,primary,no,173,yes,no,423.521429,-250.521429,423.881890
86,56,admin.,married,secondary,no,45,no,no,235.300000,-190.300000,NaN
87,41,technician,married,secondary,no,1270,yes,no,1121.407407,148.592593,1268.102941
88,46,management,divorced,secondary,no,16,yes,yes,1082.815789,-1066.815789,1027.893939
89,57,retired,married,secondary,no,486,yes,no,330.250000,155.750000,319.555556
90,42,management,single,secondary,no,50,no,no,1082.815789,-1032.815789,NaN
91,30,technician,married,secondary,no,152,yes,yes,1121.407407,-969.407407,1268.102941
92,60,admin.,married,secondary,no,290,yes,no,235.300000,54.700000,239.616667
93,60,blue-collar,married,unknown,no,54,yes,no,423.521429,-369.521429,423.881890
94,57,entrepreneur,divorced,secondary,no,-37,no,no,299.714286,-336.714286,NaN
95,36,management,married,tertiary,no,101,yes,yes,1082.815789,-981.815789,1027.893939
96,55,blue-collar,married,secondary,no,383,no,no,423.521429,-40.521429,NaN
97,60,retired,married,tertiary,no,81,yes,no,330.250000,-249.250000,319.555556
98,39,technician,married,secondary,no,0,yes,no,1121.407407,-1121.407407,1268.102941
99,46,management,married,tertiary,no,229,yes,no,1082.815789,-853.815789,1027.893939
100,44,blue-collar,married,secondary,no,-674,yes,no,423.521429,-1097.521429,423.881890
101,53,blue-collar,married,primary,no,90,no,no,423.521429,-333.521429,NaN
102,52,blue-collar,married,primary,no,128,yes,no,423.521429,-295.521429,423.881890
103,59,blue-collar,married,primary,no,179,yes,no,423.521429,-244.521429,423.881890
104,27,technician,single,tertiary,no,0,yes,no,1121.407407,-1121.407407,1268.102941
105,44,blue-collar,married,secondary,no,54,yes,no,423.521429,-369.521429,423.881890
106,47,technician,married,tertiary,no,151,yes,no,1121.407407,-970.407407,1268.102941
107,34,admin.,married,secondary,no,61,no,yes,235.300000,-174.300000,NaN
108,59,retired,single,secondary,no,30,yes,no,330.250000,-300.250000,319.555556
109,45,management,married,tertiary,no,523,yes,no,1082.815789,-559.815789,1027.893939
110,29,services,divorced,secondary,no,31,yes,no,553.016667,-522.016667,607.222222
111,46,technician,divorced,secondary,no,79,no,no,1121.407407,-1042.407407,NaN
112,56,self-employed,married,primary,no,-34,yes,yes,60.363636,-94.363636,64.500000
113,36,blue-collar,married,primary,no,448,yes,no,423.521429,24.478571,423.881890
114,59,retired,divorced,primary,no,81,yes,no,330.250000,-249.250000,319.555556
115,44,blue-collar,married,secondary,no,144,yes,no,423.521429,-279.521429,423.881890
116,41,admin.,married,secondary,no,351,yes,no,235.300000,115.700000,239.616667
117,33,management,single,tertiary,no,-67,yes,no,1082.815789,-1149.815789,1027.893939
118,59,management,divorced,tertiary,no,262,no,no,1082.815789,-820.815789,NaN
119,57,technician,married,primary,no,0,no,no,1121.407407,-1121.407407,NaN
120,56,technician,divorced,unknown,no,56,yes,no,1121.407407,-1065.407407,1268.102941
121,51,blue-collar,married,secondary,no,26,yes,no,423.521429,-397.521429,423.881890
122,34,admin.,married,unknown,no,3,yes,no,235.300000,-232.300000,239.616667
123,43,services,married,secondary,no,41,yes,yes,553.016667,-512.016667,607.222222
124,52,technician,married,tertiary,no,7,no,yes,1121.407407,-1114.407407,NaN
125,33,technician,single,secondary,no,105,yes,no,1121.407407,-1016.407407,1268.102941
126,29,admin.,single,secondary,no,818,yes,yes,235.300000,582.700000,239.616667
127,34,services,married,secondary,no,-16,yes,yes,553.016667,-569.016667,607.222222
128,31,blue-collar,married,secondary,no,0,yes,no,423.521429,-423.521429,423.881890
129,55,services,married,secondary,no,2476,yes,no,553.016667,1922.983333,607.222222
130,55,management,married,unknown,no,1185,no,no,1082.815789,102.184211,NaN
131,32,admin.,single,secondary,no,217,yes,no,235.300000,-18.300000,239.616667
132,38,technician,single,secondary,no,1685,yes,no,1121.407407,563.592593,1268.102941
133,55,admin.,single,secondary,no,802,yes,yes,235.300000,566.700000,239.616667
134,28,unemployed,single,tertiary,no,0,yes,no,637.100000,-637.100000,138.714286
135,23,blue-collar,married,secondary,no,94,yes,no,423.521429,-329.521429,423.881890
136,32,technician,single,secondary,no,0,yes,no,1121.407407,-1121.407407,1268.102941
137,43,services,single,unknown,no,0,no,no,553.016667,-553.016667,NaN
138,32,blue-collar,married,secondary,no,517,yes,no,423.521429,93.478571,423.881890
139,46,blue-collar,married,secondary,no,265,yes,no,423.521429,-158.521429,423.881890
140,53,housemaid,divorced,primary,no,947,yes,no,446.600000,500.400000,357.666667
141,34,self-employed,single,secondary,no,3,yes,no,60.363636,-57.363636,64.500000
142,57,unemployed,married,tertiary,no,42,no,no,637.100000,-595.100000,NaN
143,37,blue-collar,married,secondary,no,37,yes,no,423.521429,-386.521429,423.881890
144,59,blue-collar,married,secondary,no,57,yes,no,423.521429,-366.521429,423.881890
145,33,services,married,secondary,no,22,yes,no,553.016667,-531.016667,607.222222
146,56,blue-collar,divorced,primary,no,8,yes,no,423.521429,-415.521429,423.881890
147,48,unemployed,married,secondary,no,293,yes,no,637.100000,-344.100000,138.714286
148,43,services,married,primary,no,3,yes,no,553.016667,-550.016667,607.222222
149,54,blue-collar,married,primary,no,348,yes,no,423.521429,-75.521429,423.881890
150,51,blue-collar,married,unknown,no,-19,yes,no,423.521429,-442.521429,423.881890
151,26,student,single,secondary,no,0,yes,no,164.166667,-164.166667,164.166667
152,40,management,married,tertiary,no,-4,yes,no,1082.815789,-1086.815789,1027.893939
153,39,management,married,secondary,no,18,yes,no,1082.815789,-1064.815789,1027.893939
154,50,technician,married,primary,no,139,no,no,1121.407407,-982.407407,NaN
155,41,services,married,secondary,no,0,yes,no,553.016667,-553.016667,607.222222
156,51,blue-collar,married,unknown,no,1883,yes,no,423.521429,1459.478571,423.881890
157,60,retired,divorced,secondary,no,216,yes,no,330.250000,-114.250000,319.555556
158,52,blue-collar,married,secondary,no,782,yes,no,423.521429,358.478571,423.881890
159,48,blue-collar,married,secondary,no,904,yes,no,423.521429,480.478571,423.881890
160,48,services,married,unknown,no,1705,yes,no,553.016667,1151.983333,607.222222
161,39,technician,single,tertiary,no,47,yes,no,1121.407407,-1074.407407,1268.102941
162,47,services,single,secondary,no,176,yes,no,553.016667,-377.016667,607.222222
163,40,blue-collar,married,secondary,no,1225,yes,no,423.521429,801.478571,423.881890
164,45,technician,married,secondary,no,86,yes,no,1121.407407,-1035.407407,1268.102941
165,26,admin.,single,secondary,no,82,yes,no,235.300000,-153.300000,239.616667
166,52,management,married,tertiary,no,271,yes,no,1082.815789,-811.815789,1027.893939
167,54,technician,married,secondary,no,1378,yes,no,1121.407407,256.592593,1268.102941
168,54,admin.,married,tertiary,no,184,no,no,235.300000,-51.300000,NaN
169,50,blue-collar,married,primary,no,0,no,no,423.521429,-423.521429,NaN
170,35,blue-collar,married,secondary,no,0,yes,no,423.521429,-423.521429,423.881890
171,44,services,married,secondary,no,1357,yes,yes,553.016667,803.983333,607.222222
172,53,entrepreneur,married,unknown,no,19,yes,no,299.714286,-280.714286,348.636364
173,35,retired,single,primary,no,434,no,no,330.250000,103.750000,NaN
174,60,admin.,divorced,secondary,no,92,yes,no,235.300000,-143.300000,239.616667
175,53,admin.,divorced,secondary,no,1151,yes,no,235.300000,915.700000,239.616667
176,48,unemployed,married,secondary,no,41,yes,no,637.100000,-596.100000,138.714286
177,34,technician,married,secondary,no,51,yes,no,1121.407407,-1070.407407,1268.102941
178,54,services,married,secondary,no,214,yes,no,553.016667,-339.016667,607.222222
179,51,management,married,secondary,no,1161,yes,no,1082.815789,78.184211,1027.893939
180,31,services,married,tertiary,no,37,yes,no,553.016667,-516.016667,607.222222
181,35,technician,divorced,secondary,no,787,yes,no,1121.407407,-334.407407,1268.102941
182,35,services,married,secondary,no,59,yes,no,553.016667,-494.016667,607.222222
183,38,technician,married,secondary,no,253,yes,no,1121.407407,-868.407407,1268.102941
184,36,admin.,married,tertiary,no,211,yes,no,235.300000,-24.300000,239.616667
185,58,retired,married,primary,no,235,yes,no,330.250000,-95.250000,319.555556
186,40,services,divorced,unknown,no,4384,yes,no,553.016667,3830.983333,607.222222
187,54,management,married,secondary,no,4080,no,no,1082.815789,2997.184211,NaN
188,34,blue-collar,single,secondary,no,53,yes,yes,423.521429,-370.521429,423.881890
189,31,management,single,tertiary,no,0,yes,no,1082.815789,-1082.815789,1027.893939
190,51,retired,married,secondary,no,2127,yes,no,330.250000,1796.750000,319.555556
191,33,management,married,tertiary,no,377,yes,no,1082.815789,-705.815789,1027.893939
192,55,management,married,tertiary,no,73,yes,no,1082.815789,-1009.815789,1027.893939
193,42,admin.,married,secondary,no,445,yes,no,235.300000,209.700000,239.616667
194,34,blue-collar,married,secondary,no,243,yes,no,423.521429,-180.521429,423.881890
195,33,blue-collar,single,secondary,no,307,yes,no,423.521429,-116.521429,423.881890
196,38,services,married,secondary,no,155,yes,no,553.016667,-398.016667,607.222222
197,50,technician,divorced,tertiary,no,173,no,yes,1121.407407,-948.407407,NaN
198,43,management,married,tertiary,no,400,yes,no,1082.815789,-682.815789,1027.893939
199,61,blue-collar,divorced,primary,no,1428,yes,no,423.521429,1004.478571,423.881890
200,47,admin.,married,secondary,no,219,yes,no,235.300000,-16.300000,239.616667
201,48,self-employed,married,tertiary,no,7,yes,no,60.363636,-53.363636,64.500000
202,44,blue-collar,married,secondary,no,575,yes,no,423.521429,151.478571,423.881890
203,35,student,single,unknown,no,298,yes,no,164.166667,133.833333,164.166667
204,35,services,married,secondary,no,0,yes,no,553.016667,-553.016667,607.222222
205,50,services,married,secondary,no,5699,yes,no,553.016667,5145.983333,607.222222
206,41,management,married,tertiary,no,176,yes,yes,1082.815789,-906.815789,1027.893939
207,41,management,married,tertiary,no,517,yes,no,1082.815789,-565.815789,1027.893939
208,39,services,single,unknown,no,257,yes,no,553.016667,-296.016667,607.222222
209,42,retired,married,secondary,no,56,yes,no,330.250000,-274.250000,319.555556
210,38,blue-collar,married,secondary,no,-390,yes,no,423.521429,-813.521429,423.881890
211,53,retired,married,secondary,no,330,yes,no,330.250000,-0.250000,319.555556
212,59,housemaid,divorced,primary,no,195,no,no,446.600000,-251.600000,NaN
213,36,services,married,secondary,no,301,yes,no,553.016667,-252.016667,607.222222
214,54,blue-collar,married,primary,no,-41,yes,no,423.521429,-464.521429,423.881890
215,40,technician,married,tertiary,no,483,yes,no,1121.407407,-638.407407,1268.102941
216,47,unknown,married,unknown,no,28,no,no,18.666667,9.333333,NaN
217,53,unemployed,married,unknown,no,13,no,no,637.100000,-624.100000,NaN
218,46,housemaid,married,primary,no,965,no,no,446.600000,518.400000,NaN
219,39,management,married,tertiary,no,378,yes,yes,1082.815789,-704.815789,1027.893939
220,40,unemployed,married,secondary,no,219,yes,no,637.100000,-418.100000,138.714286
221,28,blue-collar,married,primary,no,324,yes,no,423.521429,-99.521429,423.881890
222,35,entrepreneur,divorced,secondary,no,-69,yes,no,299.714286,-368.714286,348.636364
223,55,retired,married,secondary,no,0,no,yes,330.250000,-330.250000,NaN
224,43,technician,divorced,unknown,no,205,yes,no,1121.407407,-916.407407,1268.102941
225,48,blue-collar,married,primary,no,278,yes,no,423.521429,-145.521429,423.881890
226,58,management,married,unknown,no,1065,yes,no,1082.815789,-17.815789,1027.893939
227,33,management,single,tertiary,no,34,yes,no,1082.815789,-1048.815789,1027.893939
228,36,blue-collar,married,unknown,no,1033,no,no,423.521429,609.478571,NaN
229,53,services,divorced,secondary,no,1467,yes,no,553.016667,913.983333,607.222222
230,47,blue-collar,married,primary,no,-12,yes,no,423.521429,-435.521429,423.881890
231,31,services,married,secondary,no,388,yes,no,553.016667,-165.016667,607.222222
232,57,entrepreneur,married,secondary,no,294,yes,no,299.714286,-5.714286,348.636364
233,53,blue-collar,married,unknown,no,1827,no,no,423.521429,1403.478571,NaN
234,55,blue-collar,married,primary,no,627,yes,no,423.521429,203.478571,423.881890
235,45,blue-collar,married,primary,no,25,yes,no,423.521429,-398.521429,423.881890
236,53,admin.,divorced,secondary,no,315,yes,no,235.300000,79.700000,239.616667
237,37,blue-collar,married,primary,no,0,yes,no,423.521429,-423.521429,423.881890
238,44,admin.,divorced,secondary,no,66,yes,no,235.300000,-169.300000,239.616667
239,49,blue-collar,divorced,primary,no,-9,yes,yes,423.521429,-432.521429,423.881890
240,46,technician,married,secondary,no,349,yes,yes,1121.407407,-772.407407,1268.102941
241,43,entrepreneur,married,unknown,no,100,yes,no,299.714286,-199.714286,348.636364
242,38,admin.,married,secondary,no,0,no,no,235.300000,-235.300000,NaN
243,43,technician,married,secondary,no,434,yes,no,1121.407407,-687.407407,1268.102941